@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('Raleway-ExtraLight.eot');
  src: url('Raleway-ExtraLight.woff2') format('woff2'),
       url('Raleway-ExtraLight.woff') format('woff'),
       url('Raleway-ExtraLight.ttf') format('truetype'),
       url('Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg'),
       url('Raleway-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

