@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src: url('Raleway-SemiBoldItalic.eot');
  src: url('Raleway-SemiBoldItalic.woff2') format('woff2'),
       url('Raleway-SemiBoldItalic.woff') format('woff'),
       url('Raleway-SemiBoldItalic.ttf') format('truetype'),
       url('Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg'),
       url('Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

