@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url('Raleway-ExtraBoldItalic.eot');
  src: url('Raleway-ExtraBoldItalic.woff2') format('woff2'),
       url('Raleway-ExtraBoldItalic.woff') format('woff'),
       url('Raleway-ExtraBoldItalic.ttf') format('truetype'),
       url('Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg'),
       url('Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

