.account-header{
	padding: 3.5rem 1rem 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #EEF1F4;
	.setting-icon{
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon{
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	.setting-title{
		margin-left: 2.5rem;
		font-weight: 600;
		font-size: 1.6rem;
	}
}

.settings-fields{
	padding: 4rem 7.5rem;
	.field .input-label{
		width: 50%;
		display: block;
		&.full-width{
			width: 100%;
		}
	}
	.field{
		.switcher-text{
			flex: none;
		}
	}
}

.settings-block{
	position: relative;
}

.account-block .settings-fields{
	&:not(:first-child):not(:last-child){
		border-top: 1px solid #EEF1F4;
	}
}

.field-upload-photo{
	.input-photo{
		display: none;
	}
}

.add-photo{
	display: flex;
	align-items: center;
	margin: 2rem 0;
	cursor: pointer;
	.photo-icon{
		background-color: #EEF1F4;
		border-color: 1px solid #EEF1F4;
		border-radius: 50%;
		width: 7.4rem;
		height: 7.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&.square-image{
			width: 30rem;
			height: 20rem;
			border-radius: 0;
		}
		.icon{
			width: 3.5rem;
			height: 3.5rem;
			fill: #707070;
		}
		&::after{
			content: '';
			opacity: 0;
			visibility: hidden;
			width: 2.6rem;
			height: 2.6rem;
			border: 2px solid;
			border-color: #777 transparent transparent transparent;
			border-radius: 100%;
			transform-origin: 0 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.add-photo-text{
		color: $blue;
		font-size: 1.4rem;
		font-weight: 700;
		margin-left: 3rem;
	}
}

.loading{
	.photo-icon{
		.icon{
			display: none;
		}
		&::after{
			opacity: 1;
		    visibility: visible;
		    transition: all 1s .3s ease;
		    animation: spin 1s infinite;
		}
	}
}

.field{
	margin-bottom: 3rem;
	display: block;
	&.has-show, &.has-notification, &.has-button{
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
	}
}

.field-title{
	font-size: 1.4rem;
	font-weight: 400;
	color: $textGreyColor;
}

.field-group{
	margin: 2rem 0;
	display: flex;
	.select{
		margin-right: 2rem;
	}
	.select-day + .select-inner{
		width: 100px;
	}
	.select-month + .select-inner{
		width: 150px;
	}
	.select-year + .select-inner{
		width: 120px;
	}
}

.account-footer{
	padding: 3.8rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #EEF1F4;
}

.account-footer,
.message-footer{
	.saved-text{
		color: $mainColor;
		font-size: 1.4rem;
		font-weight: 700;
		opacity: 0;
		visibility: hidden;
		max-width: 0;
	}
}

.section-block{
	padding: 3rem;
}

.section-title{
	color: $textGreyColor;
	font-size: 1.4rem;
	font-weight: 400;
	margin: 0;
}

.section-accordeons{
	padding: 3rem 1.5rem;
}

.show-in-profile{
	background-color: transparent;
	border: none;
	margin: 1.6rem 2.6rem;
	.input-show{
		display: none;
	}
	.show-label-inner{
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	.show-image{
		width: 2rem;
		height: 2rem;
		position: relative;
		.icon{
			width: 2rem;
			height: 2rem;
			fill: $iconColor;
		}
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: -10%;
			width: 2.4rem;
			height: .3rem;
			background-color: #fff;
			transform-origin: 50% 50%;
			transform: rotate(45deg) ;
		}
	}
	.text{
		margin-left: 1rem;
		color: $blue;
		font-size: 1.4rem;
		font-weight: 700;
	}
	.not-show-text{
		display: none;
	}
	.input-show{
		&:checked{
			&+.show-label-inner{
				.show-image{
					&:after{
						display: none;
					}
				}
				.text{
					display: none;
				}
				.not-show-text{
					display: block;
				}
			}
		}
	}
}

.submit{
    cursor: pointer;
    position: relative;
	transition: all .5s ease-in-out;
	span{
		transition: font-size .3s ease-in-out;
	}
}

.submit:after {
	content: '';
	opacity: 0;
	visibility: hidden;
	width: 1.6rem;
	height: 1.6rem;
	border: 2px solid;
	border-color: #fff transparent transparent transparent;
	border-radius: 100%;
	transform-origin: 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.submit.load {
	padding: 1.5rem;
	border-radius: 50%;
	display: block;	
	background: #14D0A7;
    width: 45px;
    height: 45px;
}

.submit.load .save-text {
	opacity: 0;
	visibility: hidden;
	font-size: 0;
}

.submit.load:after {
	opacity: 1;
	visibility: visible;
	transition: all 1s .3s ease;
	animation: spin 1s infinite;
}

.submit.done{
	background-color: $lightColor;
	box-shadow: none;
	cursor: auto;
	&:after{
		border: none;
		background-image: url('../img/icons/done.svg');
		background-size: cover;
		animation: none;
	}
	&+.saved-text{
		opacity: 1;
		visibility: visible;
		max-width: 20rem;
		margin-left: 2.2rem;
		transition: all .5s ease-in-out;
	}
}

@keyframes spin {
  from { transform: rotate(0) translate(-50%, -50%) }
  to { transform: rotate(360deg) translate(-50%, -50%) }
}

.field-group.half-width{
	.select{
		width: 100%;
		margin-right: 0;
	}
}

.account-add-one-more{
	border-top: 1px solid #EEF1F4;
	padding: 3.8rem 0 6.5rem;
	margin-left: 7.5rem;
	margin-right: 7.5rem;
}

.field-title.switcher{
	display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    .switcher-text{
    	margin-right: 1rem;
    }
}

.not-active{
	.select{
		pointer-events: none;
		opacity: .5;
	}
}


.input-notification{
	width: 50%;
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	margin: 1.6rem 2rem;
	&:before{
		content: 'i';
		font-size: 1.6rem;
		font-weight: 600;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		background-color: #D1D9E3;
		margin-right: .5rem;
	}
	.text{
		width: calc(100% - 3rem);
	}
}

.has-notification{
	.input-label, 
	.input-notification, 
	.field-person{
		width: 50%;
	}
	.input-notification{
		width: calc(50% - 4rem);
	}
}

.has-button{
	.input-label, 
	.input-notification, 
	.field-person{
		width: 50%;
	}
	.input-step-button{
		width: auto;
		margin-bottom: .5rem;
		margin-left: 2rem;
	}
}

.fieldset-columns{
	border: none;
	padding: 0;
	margin-bottom: 2rem;
	.input-label{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		.input{
			width: calc(50% - 2rem);
			display: inline-block;
		}
	}
}

.field-person{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0;
	.person-logo{
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		background-color: #D1D9E3;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1rem;
		.icon{
			width: 3rem;
			height: 3rem;
			fill: #D1D9E3; 
		}
	}
	.person{
		display: flex;
		align-items: center;
		width: calc(100% - 3rem);
		flex-wrap: wrap;
	}
	.person-name{
		width: calc(100% - 8rem);
		.name{
			display: block;
			font-size: 1.4rem;
			font-weight: 700;
			color: $textGreyColor;
			margin: .3rem 0;
		}
		.desc{
			display: block;
			font-size: 1.2rem;
			color: $textGreyColor;
		}
	}
}

.btn-delete{
	width: 2rem;
	height: 2rem;
	background-color: transparent;
	border: none;
	padding: 0;
	svg{
		width: 2rem;
		height: 2rem;
		fill: #707070;
	}
}

.anchors-menu{
	position: sticky;
	top: 0;
}

.soc-identify{
	display: flex;
	align-items: center;
	width: 30%;
	.soc-name{
		margin-left: 1rem;
		font-weight: 700;
		font-size: 1.2rem;
		color: #707070;
	}
}

.socn-label{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	.input{
		margin-left: 2rem;
		width: 50%;
	}
}

.soc-icon{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	display: block;
	position: relative;
	.icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 3rem;
		height: 3rem;
	}
}

