.head-block{
	position: relative;
}


.main-svg-block{
	margin-left: auto;
	right: -5%;
	bottom: -22%;
	width: 60vw;
	height: 60vw;
	position: absolute;
}

.main-svg-block .image{
	position: absolute;
	width: 59.9vw;
	height: auto;
	display: block;
	transition: all .2s .2s ease-in-out;
}

.mask-svg{
	transition: all .2s ease-in-out;
}

.main-svg-block .in-image{
	position: absolute;
	width: 60vw!important;
	height: 60vw!important;
	background: #fff;
}


.main-svg{
	position: absolute;
	width: 60vw!important;
	height: 60vw!important;
	opacity: 1;
	visibility: visible;
	top: 0;
	left: 0;
	overflow: visible;
	z-index: 3;
}

.double{
	position: absolute;
	width: calc(60vw + 5px);
	height: calc(60vw + 5px);
	border: 10px solid #fff;
	z-index: 2;
}

.color-svg .st0{
	fill: #008A92;
}

.hidden{
	opacity: 0;
	visibility: hidden;
}

.st-path{
	opacity: 0;
	transition: all .4s 1.4s ease-in-out;
}

.show-circle .st-path{
	opacity: 1;
}

.color-svg.hidden{
	transform: rotate(-40deg) translate(-20%, 20%);
}

.color-svg.show-circle{
	will-change: transform;
	opacity: 1;
	transform: rotate(0deg) translate(0px, 0px); 	
	transform-origin: 50% 50%;
	transition: transform 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
				opacity .8s cubic-bezier(0.25, 0.46, 0.45, 0.6),
				visibility .8s cubic-bezier(0.25, 0.46, 0.45, 0.6);
}

.st{
	opacity: 0;
	transform-origin: 50% 50%;
}

.st-lg{
	transform: scale(.4) translate(20%, 5%);
}

.st-md{
	transform: scale(.6) translate(-5%, 5%);
}

.st-sm{
	transform: scale(.2) translate(10%, -5%);
}

.st-lg{
	transition: all 1.4s .7s cubic-bezier(0.77, 0, 0.175, 1);
}

.st-md{
	transition: all 1.2s .65s  cubic-bezier(0.77, 0, 0.175, 1);
}

.st-sm{
	transition: all 1s .6s  cubic-bezier(0.77, 0, 0.175, 1);
}

.show-circle .st{
	opacity: 1;
	transform: scale(1) translate(0,0);
}


.color-svg.remove-color{
	opacity: 0;
	transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.interaction .st-lg{
	transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.6);
}

.interaction .st-md{
	transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.6);
}

.interaction .st-sm{
	transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.6);
}
