.double-column{
	max-width: 122rem;
	width: 100%;
}

.page-main-panel{
	.item-main{
		width: calc(100% - 38rem);
	}
	.panel-main-buttons{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.btn-tuning, .btn-share{
			display: none;
		}
		.btn-message{
			.icon{
				display: none;
			}
		}
		.btn-main-panel{
			&.btn-raised{
				.icon{
					fill: #fff;
				}
			}
		    .icon{
		    	width: 1.4rem;
				height: 1.4rem;
				stroke: $mainColor;
				fill: transparent;
				vertical-align: middle;
		    }
		}
	}
}

.block{
	background-color: #fff;
	border: 1px solid #EEF1F4;
	border-radius: 10px;
	margin-bottom: 3rem;
}

.shadow-block{
	@extend .block;
	box-shadow: 0 3px 6px rgba(0,0,0,.12);
}

.info-source{
	padding: 3rem 7.4rem .5rem;
	.info-title{
		font-size: 1.4rem;
		font-weight: 700;
		margin: 0;
	}
	.info-list{
		list-style-type: none;
		padding: 0;
		margin: 2.5rem 0;
		display: flex;
		flex-wrap: wrap;
		.info-list-item{
			width: calc(50% - 1rem);
			margin: 1rem 0;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
		.info-content{
			width: calc(100% - 6rem);
		}
		.info-type{
			display: block;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			border: 1px solid #EEF1F4;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 2rem;
			.icon{
				width: 2rem;
				height: 2rem;
			}
		}
		.info-text{
			display: block;
			font-size: 1.4rem;
			font-weight: 600;
			color: $textGreyColor;
			vertical-align: middle;
			margin: .3rem 0;
		}
		.info-link, .text{
			display: block;
			font-size: 1.4rem;
			font-weight: 500;
		}
		.info-link{
			color: $blue;
		}
	}
}

.more{
	border-top: 1px solid #EEF1F4;
	padding: 2.8rem 0;
	margin: auto;
	.more-text, .btn-transparent{
		text-align: center;
		display: block;
		cursor: pointer;
		padding: 0;
		margin: 0 auto;
		transition: all .4s ease-in-out;
		.text{
			font-size: 1.4rem;
			font-weight: 600;
			color: $blue;
			display: none;
			&.active{
				display: block;
			}
		}
	}
}

.more-panel{
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	padding: .1rem 0;
	transition: max-height .2s .2s ease-in-out, opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.open-more{
	opacity: 1;
	visibility: visible;
	max-height: 1000rem;
	transition: max-height .6s ease-in-out, opacity .2s .2s ease-in-out, visibility .2s .2s ease-in-out;
}

.info-article{
	margin: 5rem 0;
	.info-article-text{
		margin: 2rem 0;
		line-height: 1.7;
	}
}

.wall-header{
	padding: 2.5rem 5rem 0;
	border-bottom: 1px solid #EEF1F4;
	display: block;
	position: relative;
}

.wall-all{
	background-color: transparent;
	border: none;
	border-bottom: 3px solid $blue;
	padding: .5rem .5rem 2.2rem;
	display: block;
	margin-left: 1rem;
	margin-right: 1rem;
	.text, .number{
		font-size: 1.4rem;
		font-weight: 600;
	}
	.number{
		color: $textGreyColor;
		margin-left: .5rem;
	}
	.text{
		color: $blue;
	}
	&::after{
		content: '';
		width: 1rem;
		height: 1rem;
		margin-left: .5rem;
		display: inline-block;
		background-image: url('../img/icons/down-arrow.svg');
	}
}

.wall-categories-list{
	opacity: 0;
	visibility: hidden;
	min-width: 17rem;
	position: absolute;
	z-index: 10;
	border-radius: 5px;
	list-style-type: none;
	background-color: #fff;
	padding: 3rem 2.3rem;
	border: 1px solid #EEF1F4;
	box-shadow: 0 5px 10px rgba(0,0,0,.16);
	transition: all .5s ease-in-out;
}

.categories-open{
	opacity: 1;
	visibility: visible;
}

.wall-category{
	padding: 1rem 0;
	.wall-category-block{
		display: flex;
		align-items: center;
	}
	.category-icon{
		width: 1.6rem;
		height: 1.6rem;
		.icon{
			width: 1.6rem;
			height: 1.6rem;
			fill: $iconColor;
		}
	}
	.category-name, .category-number{
		font-size: 1.4rem;
		font-weight: 600;
		color: #3A3A3A;
		margin-left: .5rem;
	}
	.category-number{
		color: $textGreyColor;
	}
}

.wall-tab{
	padding: .5rem .3rem 1rem;
	margin: 0;
	margin-right: 2.5rem;
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;	
	.icon{
		width: 2rem;
		height: 2rem;
		fill: #EEF1F4;
		margin-right: .5rem;
		transition: all .6s ease-in-out;
	}
	.text{
		font-size: 1.4rem;
		font-weight: 600;
		color: $textGreyColor;
		transition: all .6s ease-in-out;
		position: relative;
		padding-right: 1rem;
		&:after{
			content: '';
			position: absolute;
			right: -.3rem;
			top: -.3rem;
			border-radius: 50%;
			background-color: $coral;
			width: .7rem;
			height: .7rem;
			display: none;
		}
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: -.1rem;
		left: 0;
		width: 0;
		opacity: 0;
		height: .2rem;
		background-color: $blue;
		transition: all .6s ease-in-out;
	}
	&:hover, &.active-tab{
		.icon{
			fill: $blue;
		}
		.text{
			color: $blue;
		}
		&:after{
			opacity: 1;
			width: 100%;
		}
	}
}

.new-in-wall{
	.text{
		&:after{
			display: block;
		}
	}
}

.wall-inner{
	padding: 7rem;
	.panel{
		width: 100%;
		max-width: 100%;
		box-shadow: none;
	}
}

.siblings-block{
	padding: 2.2rem 3.4rem;
}

.sibling-item{
	margin: 2rem 0;
	display: flex;
	align-items: center;
	.sibling-image{
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		position: relative;
		margin-right: 2rem;
		overflow: hidden;
		display: inline-block;
		float: left;
		vertical-align: middle;
		.icon{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 3.5rem;
			height: 3.5rem;
		}
	}
	.sibling-info{
		max-width: calc(100% - 7rem);
	}
	.sibling-title{
		font-size: 1.4rem;
		font-weight: 700;
		color: $textGreyColor;
		vertical-align: middle;
		display: block;
		margin: .7rem 0;
	}
	.sibling-desc{
		font-size: 1.2rem;
		color: $textGreyColor;
		vertical-align: middle;
		display: block;
	}
}


.btn-block{
	background-color: #fff;
	border: 1px solid #EEF1F4;
	width: 100%;
	padding: 3.5rem 4.5rem;
	margin-bottom: 3rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	.icon{
		width: 3rem;
		height: 3rem;
		fill: #707070;
		vertical-align: middle;
	}
	.text{
		font-size: 1.6rem;
		font-weight: 700;
		margin-left: 3rem;
		vertical-align: middle;
		color: $textGreyColor;
	}
}

.btn-create-clear{
	border: none;
    border-bottom: 1px solid transparent;
    padding: 1.5rem 2.2rem;
    background-color: #fff;
    border-radius: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    .icon{
    	width: 1.2rem;
    	height: 1.2rem;
    }
    span{
		margin-left: 3rem;
		color: #707070;
		font-size: 1.4rem;
		font-weight: 600;
    }
    &:hover{
    	background-color: #fff;
    	.icon{
			fill: #14D0A7;
    	}
    	span{
    		color: #14D0A7;
    	}
    }
}