.header{
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 3px 6px rgba(0,0,0,.05);
	border-bottom: 1px solid #EEF1F4;
	max-width: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

@keyframes topAnim{
	0%{
		top: -12rem;
	}
	100%{
		top: 0;
	}
}

.header-fixed{
	position: fixed;
	animation: topAnim .5s ease-in-out;
}

.header .menu-icon{
	display: none!important;
}

.sidemenu-mob{
	display: none;
}

.logo{
	display: block;
	padding: 2.5rem 3.2rem 2.4rem 2.3rem;
	border-right: 1px solid #EEF1F4;
	width: 23.5rem;
	.logo-icon{
		display: block;
		margin: auto;
		text-align: center;
		width: 10rem;
		height: 3.8rem;
		fill: #008A92;
	}
}

.top-menu{
	margin-left: 9rem;
	margin-right: 3rem;
	flex-grow: 10;
}

.mob-page-title{
	display: none;
}

.top-menu-list{
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	.submenu-wrap{
		display: none;
		position: absolute;
		left: -500px;
		right: -500px;
		padding-top: 5rem;
		margin: auto;
		width: 250px;
		.submenu{
			padding: 0;
			margin: 0;
			list-style-type: none;
			background-color: #fff;
			padding: 1.6rem 1.8rem 2.4rem;
			border-radius: 4px;
			position: relative;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
			border: 1px solid #EEF1F4;
			z-index: 2;
			li{
				margin: 0;
				a{
					font-size: 1.3rem;
					line-height: 1.6;
					margin-top: .3rem;
					margin-bottom: .3rem;
					width: 100%;
				}
			}
		}
		.submenu-inner-wrap{
			position: relative;
			&:before{
				position: absolute;
				top: -.9rem;
				right: 0;
				left: 0;
				margin: auto;
				content: '';
				width: 0;
				height: 0;
				border-left: 1rem solid transparent;
				border-right: 1rem solid transparent;
				border-bottom: 1rem solid white;
				z-index: 3;
			}
			&:after{
				position: absolute;
				top: -.7rem;
				right: 0;
				left: 0;
				margin: auto;
				content: '';
				width: 1.3rem;
				height: 1.3rem;
				z-index: 1;
				background-color: #EEF1F4;
				transform: rotate(-45deg);
				-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
			}
		}
	}
	li{
		margin: 1rem 1.9rem;
		position: relative;
		a{
			font-size: 1.6rem;
			font-weight: 600;
			color: #000;
		}
		&:hover{
			.submenu-wrap{
				display: block;
			}
		}
	}
}

.top-search, .top-notifications{
	padding: 2.7rem 3.2rem 2.8rem;
	border-left: 1px solid #EEF1F4;
	cursor: pointer;
	width: 9.3rem;
	.icon{
		width: 3rem;
		height: 3rem;
		fill: #d1d9e3;
	}
}

.top-notifications{
	border-right: 1px solid #EEF1F4;
}

.top-notification-icon{
	position: relative;
	.notification-number{
		font-size: 1rem;
		font-weight: 600;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		border: 1px solid #707070;
		background-color: #EEF1F4;
		position: absolute;
		top: -.5rem;
		right: -.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.top-user{
	flex-grow: 1;
	padding-left: 3rem;
	padding-right: 3rem;
	max-width: 35rem;
}

.user-menu.active{
	opacity: 1;
	visibility: visible;
}

.user-short-info{
	display: flex;
	align-items: center;
	cursor: pointer;
	.user-image{
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		.icon{
			width: 3rem;
			height: 3rem;
		}
	}
	.user-title{
		margin-left: 1.5rem;
		.name{
			display: block;
			font-size: 1.4rem;
			font-weight: 600;
			color: $textGreyColor;
			margin: .3rem 0;
		}
		.company{
			display: block;
			font-size: 1.2rem;
			font-weight: 300;
			color: $textGreyColor;
		}
	}
	.user-control{
		margin-left: 1rem;
		.icon{
			width: 1.6rem;
			height: 1.6rem;
			fill: #d1d9e3;
			transform-origin: 50% 50%;
			transition: transform .3s ease-in-out;
		}
	}
}

.user-menu-open{
	.user-control{
		.icon{
			transform: rotate(180deg);
		}
	}
	.user-menu{
		opacity: 1;
		visibility: visible;
	}
}

.user-menu{
	position: absolute;
	right: 2rem;
	opacity: 0;
	visibility: hidden;
}

.user-menu-inner-settings{
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
	border: 1px solid #EEF1F4;
	z-index: 2;
}

.user-menu-inner{
	position: relative;
	top: 3.5rem;
	&:before {
		position:absolute;
		top: -.9rem; 
		right: 0;
		left: 0;
		margin: auto;
		content: '';
		width: 0;
		height: 0;
		border-left: 1rem solid transparent;
		border-right: 1rem solid transparent;
		border-bottom: 1rem solid white;
		z-index: 3;
	}
	&:after {
		position:absolute;
		top: -.7rem; 
		right: 0;
		left: 0;
		margin: auto;
		content: '';
		width: 1.3rem;
		height: 1.3rem;
		z-index: 1;
		background-color: #EEF1F4;
		transform: rotate(-45deg);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
	}
}

.user-main-settings{
	list-style-type: none;
	margin: 0;
	padding: 1.8rem 7.5rem 1.4rem 1.8rem;
	li{
		margin: 1rem 0;
	}
}

.user-menu-section{
	.icon{
		display: inline-block;
		width: 1.8rem;
		height: 1.8rem;
		fill: #D1D9E3;
		vertical-align: middle;
	}
	.text{
		display: inline-block;
		font-family: $mainFont;
		font-size: 1.4rem;
		font-weight: 600;
		color: $textGreyColor;
		margin-left: 1rem;
		vertical-align: middle;
		white-space: nowrap;
	}
}

.user-menu-list{
	background-color: #fff;
	list-style-type: none;
	margin: 0 4rem;
	padding: 1rem 1rem 2rem 1rem;
	border-top: 1px solid #EEF1F4;
	li{
		margin: 1.5rem 0;
		a{
			font-family: $mainFont;
			font-size: 1.4rem;
			font-weight: 600;
			color: $textGreyColor;
		}
	}
}

.user-exit{
	border-top: 1px solid #EEF1F4;
	padding: 1.7rem 5.7rem 1.9rem 4rem;
	.text{
		font-size: 1.6rem;
		font-weight: 500;
		color: #3A3A3A;
		margin-left: 1.5rem;
	}
}

.mob-sidemenu, .mob-menu-create{
	display: none;
}

.buttons-enter{
	padding: 2rem 3rem;
	border-left: 1px solid #EEF1F4;
	.btn-enter, .btn-register{
		font-weight: 700;
	}
}

.btn-enter{
	margin-right: 2rem;
}

.footer{
	background-color: #fff;
	.wrap{
		max-width: 120rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin: auto;
	}
}

.footer-row{
	padding-top: 5.6rem;
	padding-bottom: 10rem;
	border-bottom: 1px solid #EEF1F4;
	.wrap{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.logo{
		padding: 1rem 3rem;
		width: 16rem;
		border-right: 1px solid #EEF1F4;
		.icon{
			width: 10rem;
			height: 4rem; 
			fill: #008A92;
		}
	}
	.euro-logo{
		width: 13rem;
		margin-left: 3rem;
		margin-right: 3rem;
		.icon{
			width: 13rem;
			height: 3rem;
		}
	}
}

.footer-logos{
	display: flex;
	align-items: center;
}

.footer-menu{
	width: calc(100% - 35rem);
}

.footer-menu-list{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;
	margin: 0;
	li{
		a{
			font-size: 1.6rem;
			font-weight: 600;
			color: #000;
			transition: all .5s ease-in-out;
			&:hover{
				color: $blue;
			}
		}
	}
}

.footer-copyright{
	padding-top: 2.7rem;
	padding-bottom: 3.5rem;
	.wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.signature{
		display: inline-block;
		padding-left: 2.4rem;
		border-left: 1px solid #EEF1F4;
	}
	.copy{
		margin-right: 2.4rem;
		margin-left: 3rem;
	}
	.copy, .signature-title{
		font-size: 1.4rem;
		font-weight: 400;
		color: #AEAEAE;
		vertical-align: middle;
		display: inline-block;
	}
	.signature-link{
		display: inline-block;
		vertical-align: middle;
		margin-left: .5rem;
		img{
			width: 9rem;
			height: auto;
		}
	}
}

.footer-links{
	margin-right: 2rem;
	.social-link{
		margin-left: 1rem;
		margin-right: 1rem;
		.icon{
			width: 2.2rem;
			height: 2.2rem;
			fill: #7E7E7E;
			transition: all .4s ease-in-out;
		}
	}
	.facebook{
		&:hover{
			.icon{
				fill: #3b5998;
			}
		}
	}
	.google-plus{
		&:hover{
			.icon{
				fill: #D9534F;
			}
		}
	}
	.instagram{
		&:hover{
			.icon{
				fill: #cd486b;
			}
		}
	}
	.twitter{
		&:hover{
			.icon{
				fill: #00aced;
			}
		}
	}
}

