.white-block{
	background-color: #fff;
}

.border-bottom{
	border-bottom: 1px solid #EEF1F4;
}

.index-main{
	width: 100%;
	overflow-x: hidden;
	.btn, .btn-raised{
		padding-left: 4.7rem;
		padding-right: 4.7rem;
	}
}

.index-block{
	padding-top: 10rem;
	padding-bottom: 15rem;
}


.main-block{
	position: relative;
	padding-top: 30rem;
	padding-bottom: 30rem;
	max-height: 100vh;
	height: 60vw;

	overflow: hidden;
	.index-content-item{
		position: relative;
		z-index: 5;
		max-width: 39%;
		min-width: auto;
	}
	.index-main-image{
		position: absolute;
		width: 40%;
		right: 5%;
		bottom: -25%;
		border-radius: 50%;
		overflow: hidden;
		.img{
			width: 100%;
		}
	}
}

.main-wrap{
	max-width: 120rem;
	padding-left: 4rem;
	padding-right: 4rem;
	margin: auto;
}

.index-icon{
	display: block;
	&.circle-icon{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		background-color: $lightColor;
	}
	.icon{
		width: 3.2rem;
		height: 2.4rem;
		fill: $mainColor;
	}
}

.index-title-n-icon{
	display: flex;
	align-items: center;
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
	.index-title{
		margin-left: 1.8rem;
		margin-bottom: 0;
		margin-top: 0;
	}
	&+.index-description{
		margin-left: 6.8rem;
		&+.btn{
			margin-left: 6.8rem;
		}
	}
}


.index-content-item{
	min-width: 50%;
	.btn-raised, .btn{
		margin-top: 5rem;
	}
}


.index-title{
	font-size: 3rem;
	font-weight: 900;
	margin-top: 2rem;
	margin-bottom: 3.5rem;
	color: #3A3A3A;
}

.index-description{
	font-size: 1.6rem;
	line-height: 1.8;
	color: #3A3A3A;
	display: block;
}

.index-flex{
	.main-wrap{
		display: flex;
		align-items: center;
	}
	.main-wrap-reverse{
		flex-direction: row-reverse;
	}
}

.main-wrap-reverse{
	.index-image{
		justify-content: flex-end;
	}
}

.index-image{
	min-width: 100vw;
	height: auto;
	display: flex;
	justify-content: flex-start;
	margin-left: 5rem;
	margin-right: 5rem;
	.img{
		// max-height: 50rem;
		height: auto;
		align-self: center;
		flex: 0 0 auto;
	}
}

.main-enumeration{
	.index-title{
		text-align: center;
		margin-bottom: 8rem;
	}
	.go-more{
		margin: 12rem auto 0;
		display: block;
		max-width: 20rem;
		text-align: center;
	}
}


.index-types{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 80%;
	margin: auto;
	padding: 0;
	flex: 0 0 auto;
	.index-types-item{
		width: calc(25% - 1rem);
		text-align: center;
		font-emphasize-style: accent;
	}
	.index-types-icon{
		background-color: #fff;
		width: 7.4rem;
		height: 7.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 6px 11px rgba(0,0,0,.16);
		border-radius: 10px;
		margin: 4rem auto;
		transition: all .4s ease-in-out;
		.icon{
			width: 3.3rem;
			height: 3.3rem;
			fill: $mainColor;
		}
	}
	.index-types-text{
		font-size: 1.8rem;
		font-weight: 700;
		text-align: center;
		color: #707070;
	}
	.index-types-item{
		&:hover{
			.index-types-icon{
				box-shadow: 0 8px 20px rgba(0,0,0,.22);
			}
		}
	}
}

.index-panels-images{
	.img{
		display: block;
		// width: 38.6rem;
	}
}

.panels-grid{
	margin-top: 2rem;
}

.main-panels{
	padding-top: 15rem;
	padding-bottom: 22rem;
	.index-title{
		text-align: center;
		margin-bottom: 12rem;
	}
	.panels-grid{
		margin-top: 0;
		.panel{
			width: calc(33.3333% - 3rem);
			margin: 1.5rem;
		}
	}
	.go-more{
		margin: 8rem auto 0;
		max-width: 20rem;
		display: block;
		text-align: center;
	}
}
