@media(max-width: 640px){
	.header{
		.menu-icon{
			.icon{
				width: 2rem;
				height: 2rem;
			}
		}
		.top-notifications{
			margin-right: 1rem;
		}
		.top-search, 
		.top-notifications{
			padding-right: .7rem;
			padding-left: .7rem;
			width: 4rem;
		}
	}
	.top-menu{
		left: 3.5rem;
	}

	.double-column .panel-main-lg{
		padding: 2rem 2rem;
		.item-title{
			font-size: 1.6rem;
			margin: .5rem 0;
		}
		.item-info{
			margin-left: 2rem;
		}
	}

	.account-header .setting-title{
		font-size: 1.4rem;
		margin-left: 1.5rem;
	}

	.switcher .switcher-text{
		font-size: 1.2rem;
	}

	.field-title, .input-desc{
		font-size: 1.2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.settings-fields{
		padding-top: 3rem;
	}

	.field-group.multiple-field{
		.select{
			margin-right: .5rem;
			.select-inner{
				padding-left: 1.6rem;
				padding-right: 1.6rem;
			}
		}
	}

	.field-group.multiple-field{
		.select-day, 
		.select-month,
		.select-year{
			&+.select-inner{
				width: 100%;
				padding-right: .8rem;
			}
		}
	}

	.add-photo{
		.photo-icon{
			width: 5.5rem;
			height: 5.5rem;
			.icon{
				width: 2.5rem;
				height: 2.5rem;
			}
		}
		.add-photo-text{
			font-size: 1.2rem;
			margin-left: 2rem;
		}
	}

	.communication-body{
		padding: 1rem 1.5rem;
	}

	.communication-text{
		margin-left: 0;
	}

	.support-header{
		padding: 0;	
		background: transparent;
		.support-title, .support-subtitle{
			display: none;
		}
		.support-search{
			margin-top: 0;
		}
	}
	
	.support-body{
		padding: 0;
	}

	.support-main-block{
		box-shadow: none;
		background-color: transparent;
		border: none;
		overflow: visible;
	}

	.support-header{
		margin-bottom: 1.5rem;
	}

	.support-theme{
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 100%;
		background-color: #fff;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
		border-radius: 10px;
		border: 1px solid #EEF1F4;
	}

	.support-theme-title{
		justify-content: center;
		border-bottom: 1px solid #EEF1F4;
		padding: 1rem 0;
	}

	.support-theme-questions{
		padding-left: 3rem;
		padding-right: 3rem;
		li{
			padding: 1rem 0;
			border-bottom: 1px solid #EEF1F4;
		}
	}

	.support-theme-more{
		display: block;
		text-align: center;
		margin: 3rem auto;	
		max-width: 25rem;
	}

	.sign-form-title{
		font-size: 1.6rem;
		margin-top: 1.8rem;
		margin-bottom: 4.5rem;
	}

	.sign-modal .close-modal{
		top: 1rem;
		.icon{
			width: 2.4rem;
			height: 2.4rem;
		}
	}

	.main-wrap{
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}

	.main-wrap .index-image, .main-wrap-reverse .index-image{
		.img{
			// max-height: 25rem;
		}
	}

	.main-block{
		text-align: center;
		.index-description{
			text-align: center;
		}
		.index-content-item{
			.index-title{
				font-size: 2rem;
			}
		}
	}


	.index-content-item{
		.index-icon,
		.index-title{
			text-align: center;
		}
		.index-title{
			font-size: 1.6rem;
			max-width: 28rem;
			margin-left: auto;
			margin-right: auto;
		}
		.btn{
			display: block;
			max-width: 20rem;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}

	.index-title-n-icon{
		flex-direction: column;
		justify-content: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
		.index-icon.circle-icon{
			width: 3rem;
			height: 3rem;
			margin-bottom: 2rem;
			.icon{
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		&+.index-description{
			&+.btn{
				margin-left: auto;
			}
		}
	}


	.index-types{
		flex-wrap: wrap;
		.index-types-item{
			width: 100%;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		.index-types-text{
			font-size: 1.2rem;
		}
	}

	.index-block{
		padding-bottom: 5rem;
	}

	.main-wrap, .main-wrap-reverse{
		.index-image{
			.img{
				// max-height: 20rem;				
			}
		}
	}

	.main-block{
		padding-top: 10rem;
		padding-bottom: 25rem;
		overflow: hidden;
		.index-main-image{
			width: 32rem;
			bottom: -20vw;
		}
	}

	.modal-filter.modal-filter-open{
		.modal-inner{
			width: 90%;
		}
		.tag{
			margin-right: 0;
			margin-bottom: 0;
			.tag-style{
				font-size: 1.2rem;
				margin-bottom: .5rem;
			}
		}
	}

	.modal-search{
		.modal-inner{
			width: 90%;
		}
		.search-input{
			font-size: 2rem;
			padding: 1rem 1rem 1rem 5rem;
		}
		.btn-search{
			bottom: .5rem;
			.icon{
				width: 3rem;
				height: 3rem;
				fill: #fff;
			}
		}
		.btn-close{
			width: 4rem;
			height: 4rem;
			.icon{
				width: 3rem;
				height: 3rem;
			}
		}
	}

	.search-tabs{
		flex-wrap: wrap;
		.btn.add-question{
			order: 1;
			width: 100%;
			margin-bottom: 1rem;
			text-align: center;
		}
		.search-tab-item {
			order: 2;
		}
	}

	.clear-block{
		margin-top: 2rem;
		margin-bottom: 3rem;
	}

	.btn.remove{
		border: none;
		background-color: transparent;
		top: 10px;
		right: 10px;
	}

}