@media (max-width: 960px){ 
	.info-source{
		.info-list{
			.info-list-item{
				width: 100%;
			}
		}
	} 

	.btn-block{
		.icon{
			width: 2.5rem;
			height: 2.5rem;
		}
		.text{
			font-size: 1.4rem;
			margin-left: 1.5rem;
		}
	}

	.has-notification .field-person{
		width: 100%;
	}

	.message-posts{
		padding: 3rem 2rem;
	}

	.field-two-column{
		flex-wrap: wrap;
		.field-inner{
			width: 100%;
			.select{
				margin-right: 0;
			}
		}
	}

	.section-units{
		.section-list{
			padding-left: 0;
		}
	}

	.support-header{
		padding: 5rem 10rem;
	}

	.support-search{
		margin-top: 3rem;
	}

	.support-title{
		font-size: 2.4rem;
	}

	.support-theme-title{
		.theme-icon{
			margin-right: 1.5rem;
			width: 3rem;
			height: 3rem;
			.icon{
				width: 2rem;
				height: 2rem;
			}
		}
		.theme-title{
			font-size: 1.8rem;
		}
	}

	.support-theme-questions{
		padding-left: 4.5rem;
	}

	.support-theme-more{
		margin-left: 4.5rem;
	}

	.questions-theme-body{
		padding: 4rem 5rem 6rem;
	}

	.accordion-header .accordion-title__text{
		font-size: 1.4rem;
	}

	.post-title{
		font-size: 2.4rem;
		line-height: 2.8rem;
	}

	.post-type-info{
		.post-title{
			font-size: 1.8rem;
			line-height: 2rem;
		}
	}
	
	.post-header{
		.post-type-icon{
			width: 5rem;
			height: 5rem;
			margin-right: 1.5rem;
			.icon{
				width: 3rem;
				height: 3rem;
			}
		}
		.post-type-info{
			width: calc(100% - 7rem);
		}
	}

	.more-post-image{
		width: 8rem;
		height: 6rem;
		.icon{
			width: 25px;
			height: 25px;
		}
	}

	.footer-row{
		.wrap{
			flex-direction: column;
		}
	}

	.footer-menu{
		margin-top: 3rem;
		width: 100%;
	}

	.main-enumeration {
		.index-title{
			margin-bottom: 3rem;
		}
		.go-more{
			margin-top: 4rem;
		}
	}
}
