@media(max-width: 1280px){
	.center-column {
		width: 50%;
	}
	.panel{
		width: 100%;
		max-width: 100%;
	}
	.center-column{
		.panel-main-lg{
			.item-main{
				width: calc(100% - 5rem);
			}
			.item-image{
				width: 6rem;
				height: 6rem;
			}
			.item-info{
				width: calc(100% - 8rem);
			}
			.item-title{
				font-size: 2rem;
			}
		}
	} 
	.panel-main-buttons{
		.btn-mark{
			padding: .7em;
			border-radius: 50%;
			.text{
				display: none;
			}
		}
	}

	.page-main-panel{
		.item-main{
			width: calc(100% - 15rem);
		}
		.panel-main-buttons{
			.btn-main-panel{
				padding: .7em;
				border-radius: 50%;
				.text{
					display: none;
				}
				.icon{
					width: 1.8rem;
					height: 1.8rem;
				}
			}
			.btn-message{
				.icon{
					display: block;
				}
			}
		}
	}

	.info-source{
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.question-panel-main{
		padding-left: 0;
		padding-right: 0;
	}

	.question-panel-author{
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.question-title{
		font-size: 2rem;
	}

	.settings-fields .field .input-label{
		width: 100%;
	}

	.field-group.half-width{
		width: 100%;
	}

	.field.has-show{
		position: relative;
		.input-label{
			input{
				padding-right: 5rem;
			}
		}
	}

	.show-in-profile{
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 1.5rem;
		.text{
			display: none;
		}
		.show-image{
			.icon{
				fill: #d3dae4;
			}
		}
		.input-show{
			&:checked{
				&+.show-label-inner{
					.text{
						display: none;
					}
					.show-image{
						.icon{
							fill: $blue;
						}
					}
				}
			}
		}
	}

	.has-notification .input-notification{
		width: 100%;
		margin: .5rem 0;
		&:before{
			font-size: 1.2rem;
			width: 1.4rem;
			height: 1.4rem;
			line-height: 1.4rem;
		}
		.text{
			font-size: 1.2rem;
		}
	}

	.fieldset-columns{
		.input-label{
			.input{
				margin: 1rem 0;
				width: 100%;
			}
		}
	}

	.has-button{
		.input-step-button{
			margin-left: 0;
			margin-top: 1rem;
		}
	}

	.socn-label {
		.input{
			width: 70%;
		}
	}
}