@media (max-width: 1080px){
	.logo{
		padding: 1.5rem 2.5rem;
	}

	.top-search, .top-notifications{
		padding: 1.8rem 2rem;
		width: 6.8rem;
		.icon{
			width: 2.4rem;
			height: 2.4rem;
		}
	}

	.top-user{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.user-short-info .user-image{
		width: 3.5rem;
		height: 3.5rem;
		margin-right: .5rem;
		.icon{
			width: 2.4rem;
			height: 2.4rem;
		}
	}

	.user-main-settings{
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.user-menu-section .text, 
	.user-menu-list li a{
		font-size: 1.2rem;
	}

	.user-exit{
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	.center-column{
		width: 65%;
	}

	.settings-column{
		width: 35%;
	}

	.post-footer{
		flex-wrap: wrap;
		.post-authors{
			width: 100%;
			order: 2;
		}
		.post-storage{
			width: 100%;
			order: 1;
			justify-content: flex-end;
		}
	}

	.authors-amount{
		width: 80%;
		left: 0;
		right: auto;
		transform: none;
	}

	.sign-form-section-inner{
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.sign-form{
		max-width: none;
	}

	.sign-modal .close-modal{
		top: 3rem;
		right: 4rem;
	}

	.sign-logo{
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.main-wrap{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.index-title{
		margin-top: 1rem;
		margin-bottom: 2rem;
		font-size: 2.4rem;
	}

	.index-icon{
		.icon{
			width: 2rem;
			height: 2rem;
		}
	}

	.index-content-item{
		.btn, .btn-raised{
			margin-top: 3rem;
		}
	}

	.index-description{
		font-size: 1.4rem;
	}

	.index-block{
		padding-top: 5rem;
		padding-bottom: 8rem;
	}

	.main-panels .panels-grid .panel{
		width: calc(50% - 2rem);
		margin: 1rem;
	}

	.main-panels{
		.index-title{
			margin-bottom: 5rem;
		}
		.go-more{
			margin-top: 4rem;
		}
	}

	.index-types-item{
		width: calc(25% - 2rem);
		margin: auto;
		text-align: center;
	}

	.index-types{
		.index-types-icon{
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
		.index-types-text{
			font-size: 1.6rem;
		}
	}

	.main-enumeration .go-more{
		margin-top: 6rem;
	}

	.index-panels-images{
		.img{
			width: 50%;
		}
	}

	.main-block{
		padding-top: 8rem;
		padding-bottom: 12rem;
		.index-main-image{
			width: 35%;
			bottom: -10%;
		}
	}

	.modal-search{
		.modal-inner{
			width: 85%;
		}
	}

	.main-block{
		min-height: 50vw;
		height: auto;
	}


	.main-block{
		.index-content-item{
			max-width: 50%;
		}
	}

}