@media(max-width: 820px){
	.center-column{
		width: calc(100% - 4rem);
		margin-right: 2rem;
	}

	.user-grid{
		.center-column{
			margin-right: 0;
		}
		.right-column{
			.btn-block{
				display: none;
			}
		}
	}

	.pages-content:after{
		display: none;
	}

	.pages-slider{
		.slick-list {
			margin-right: -2rem;
			margin-left: -2rem;
		}
		.slick-track{
			margin-left: 2rem;
		}
	}

	.panel{
		width: calc(50% - 1rem);
	}

	.settings-column{
		max-width: none;
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}

	.filters-header{
		padding-top: .9rem;
		padding-bottom: .9rem;
		justify-content: space-between;
		.filters-title{
			margin-right: auto;
		}
		.btn-close{
			display: block;
			width: 3rem;
			height: 3rem;
			padding: 0;
			.icon{
				width: 2.4rem;
				height: 2.4rem;
			}
		}
	}

	.filter-settings{
		position: fixed;
		visibility: hidden;
		opacity: 0;
		right: -100%;
		z-index: 600;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		transition: all .5s ease-in-out;
		.filters-header{
			border-radius: 0;
			border-top: none;
			border-left: none;
			border-right: none;
		}
		.filters-panel{
			margin-top: 0;
			border: none;
			max-height: none;
			.filters-close{
				display: block;
			}
		}
	}

	.filter-block{
		margin-bottom: 1.5rem;
		.filter-type{
			font-size: 1.2rem;
			margin-bottom: 1.4rem;
		}
	} 

	.settings-open{
		.filter-settings{
			right: 0;
			visibility: visible;
			opacity: 1;	
		}
	}

	.btn-clean{
		position: absolute;
		top: 3rem;
		right: 1rem;
		padding: .4em 1em;
		.text{
			font-size: 1.2rem;
			line-height: 1.8rem;
			vertical-align: middle;
		}
		.add-text{
			display: none;
		}
	}

	.main-search{
		padding-right: 2rem;
		width: calc(100% - 7rem);
	}

	.btn-settings{
		display: block;
		position: absolute;
		right: 2rem;
		margin-top: -6rem;
		width: 6rem;
		height: 6rem;
		border: 1px solid #EEF1F4;
		border-radius: 50%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
		background-color: #fff;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.edit-pen svg{
		fill: $mainColor!important;
	}

	.user-grid{
		flex-wrap: wrap;
		.center-column{
			order: 2;
			width: 100%;
			margin-right: 2rem;
		}
		.right-column{
			order: 1;
			width: 100%;
			max-width: none;
			display: flex;
			align-items: baseline;
			flex-wrap: wrap;
			.siblings-block{
				width: 100%;
			}
		}
	}

	.double-column{
		.panel-main-lg{
			padding-left: 3rem;
			padding-right: 3rem;
			.item-image{
				width: 5.5rem;
				height: 5.5rem;
				.icon{
					width: 3rem;
					height: 3rem;
				}
			}
			.item-main{
				width: calc(100% - 10rem);
			}
			.item-title{
				font-size: 2rem;
			}
		}
	}

	.page-main-panel{
		.panel-main-buttons{
			.btn-tuning, .btn-share{
				display: block;
				.icon{
					fill: $mainColor;
				}
			}
			.btn-main-panel{
				margin-left: 1rem;
			}
		}
	}

	.account-grid{
		.anchor-sections-column{
			display: none;
		}
	}

	.field-group{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.grid-mob-column{
		display: block;
		.center-column, .right-column{
			margin-left: 2rem;
			margin-right: 2rem;
			width: calc(100% - 4rem);
			max-width: none;
		}
	}

	.message-button-send{
		.saved-text{
			display: none;
		}
	}

	.simple-footer{
		justify-content: center;
	}

	.selection-grid{
		flex-direction: column;
		.selection-settings{
			order: 1;
			margin-left: 2rem;
			margin-right: 2rem;
		}
		.user-selection{
			order: 2;
		}
	}

	.selection-menu{
		position: relative;
		padding-top: 1rem;
		padding-bottom: 1rem;
		.selection-title{
			padding-top: 1rem;
			padding-bottom: 1rem;
			font-weight: 700;
			font-size: 1.6rem;
		}
	}

	.selection-units{
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .5s ease-in;
		.section-list{
			margin: 0;
			transition: all .3s ease-in;
			li{
				margin: 0;
				transition: all .3s ease-in;
			}
		}
	}

	.open-selection-menu{
		.selection-units{
			max-height: 200rem;
			opacity: 1;
			visibility: visible;
			.section-list{
				margin: 2rem 0;
				li{
					margin: 2rem 0;
				}
			}
		}
	}

	.anchors-menu{
		padding: 0;
		.section-title{
			padding: 1.6rem 1.5rem;
			border-bottom: 1px solid #EEF1F4;
			font-weight: 600;
		}
		.btn-close{
			position: absolute;
			right: 1.5rem;
			top: 1rem;
			display: block;
			width: 3rem;
			height: 3rem;
			padding: 0;
			.icon{
				width: 2.8rem;
				height: 2.8rem;
			}
		}
	}

	.post-modal{
		.modal-inner{
			flex-wrap: wrap;
			.center-column, .right-column{
				width: calc(100% - 4rem);
			}
			.right-column{
				max-width: none;
			}
		}
	}

	.post-center{
		margin-bottom: 3rem;
	}

	.post-header{
		width: calc(100% - 6rem);
	}

	.post-article-text{
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	.post-modal {
		.modal-inner{
			margin-top: 2rem;
		}
		.btn-close{
			top: 2rem;
			right: 2rem;
		}
	}

	.post-header{
		width: calc(100% - 4rem);
	}

	.message-posts {
		position: static;
		max-height: none;
		.more-post-item{
			display: block;
		}
	}

	.sign-slider-section{
		display: none;
	}

	.sign-form-section{
		width: 100%;
	}

	.sign-logo{
		.icon{
			width: 5rem;
			height: 2rem;
			fill: #008A92; 
		}
	}

	.sign-form-section-inner{
		padding-top: 1rem;
	}

	.sign-form-title{
		text-align: center;
		margin-top: 1.2rem;
		margin-bottom: 4rem;
	}

	.sign-modal .close-modal{
		top: 1rem;
		right: 1.5rem;
		.icon{
			width: 3rem;
			height: 3rem;
		}
	}

	.sign-form-subtitle{
		text-align: center;
		span, a{
			display: block;
			margin-top: 1rem;
			margin-bottom: 1rem;
			font-size: 1.4rem;
		}
	}

	.sign-form{
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.sign-form-buttons{
		.btn-go, 
		.btn-enter{
			display: block;
			max-width: 30rem;
			width: 80%;
			margin: 2rem auto;
			text-align: center;
		}
	}

	.sign-social{
		text-align: center;
		margin: auto;
	}

	.sign-social-link{
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.modal-filter.modal-filter-open{
		.modal-inner{
			padding: 3rem 4rem;
		}
		.modal-title{
			font-size: 1.6rem;
		}
		.modal-close{
			top: 2rem;
    		right: 2.4rem;	
		}
		.tag-filter{
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
		.tag{
			.tag-style{
				font-size: 1.4rem;
			}
		}
	}
}

