@media(max-width: 420px){
	.double-column{
		.page-main-panel{
			align-items: center;
			.item-main{
				width: calc(100% - 5rem);
			}
			.panel-main-buttons{
				flex-direction: column;
			}
		}
	}

	.settings-fields{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.account-add-one-more{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.sign-form-section-inner{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.footer-copyright .signature-link{
		display: block;
		margin-top: .5rem;
	}
}