@media(max-width: 1600px){
	.left-column{
		margin-right: auto;
	}
	.right-column{
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.double-column{
		.panel-main-lg{
			margin-right: 2rem;
		}
	}

	.support-main-block{
		margin-right: 2rem;
	}

	.center-column{
		.panel-main-lg{
			padding: 3rem 5rem 4rem;
		}
	}

	.search-tabs{
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
}