@media(max-width: 768px){
	.header{
		justify-content: flex-end;
		.menu-icon{
			margin-right: auto;
		}
	}
	.mob-page-title{
		display: block;
		background-color: transparent;
		border: none;
		display: flex;
		align-items: center;
		padding: 1rem 1.7rem;
		width: 100%;
		.icon{
			width: 1rem;
			height: 1rem;
			margin-left: 1.5rem;
		}
		.text{
			color: #000;
			font-size: 1.6rem;
			font-weight: 600;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 90%;
			width: auto;
		}
	}
	.top-menu{
		position: absolute;
		top: .5rem;
		left: 6rem;
		right: 13rem;
		transition: all .5s ease-in-out;
		.top-menu-list{
			display: block;
			border-top: 1px solid #EEF1F4;
			max-height: 1px;
			opacity: 0;
			visibility: hidden;
			transition: max-height .5s .5s ease-in-out, visibility .5s ease-in-out, opacity .5s ease-in-out;
			li{
				padding: .5rem 0;
				a{
					font-size: 1.6rem;
					display: block;
				}
			}
		}
	}
	.top-menu-open{
		background-color: #fff;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 10px 20px rgba(0,0,0,.2);
		.mob-page-title{
			.icon{
				visibility: hidden;
			}
		}
		.top-menu-list{
			transition: max-height .5s ease-in-out, visibility .3s .5s ease-in-out, opacity .3s .5s ease-in-out;
			max-height: 100rem;
			opacity: 1;
			visibility: visible;
		}
	}
	
	.submenu-wrap{
		display: none!important;
	}

	.account-header{
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	.settings-fields{
		padding: 2rem 3rem
	}
	
	.account-add-one-more{
		padding-bottom: 3rem;
		.btn{
			margin: auto;
			display: block;
		}
	}

	.support-body{
		padding: 2rem 4rem;
	}

	.support-theme{
		margin: 2rem 0;
		width: calc(50% - 4rem);
	}

	.footer-menu{
		margin-top: 5rem;
		.footer-menu-list{
			flex-direction: column;
			align-items: center;
			li{
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		}
	}

	.footer-row{
		padding-top: 5rem;
		.logo{
			width: 14rem;
			.icon{
				width: 8rem;
				height: 3rem;
			}
		}
		.euro-logo{
			margin-right: 0;
			margin-left: 3rem;
			.icon{
				width: 10rem;
			}
		}
	}
	.footer-copyright{
		.copyright{
			margin-bottom: 0;
		}
		.copy{
			line-height: 2rem;
		}
		.copy, .signature{
			display: block;
			text-align: center;
			padding: 0 2rem;
			margin: 1.5rem 0;
		}
	}

	.footer-links{
		margin-right: 0;
		margin-top: 3rem;
	}

	.main-block{
		.index-title{
			font-size: 2.2rem;
		}
	}

	.index-content-item{
		width: 100%;
	}

	.index-title{
		font-size: 2rem;
	}

	.index-flex{
		.main-wrap, .main-wrap-reverse{
			flex-direction: column;
		}
	}

	.main-wrap-reverse{
		.index-panels-images{
			justify-content: center;
			min-width: 120vw;
		}
	}

	.index-image{
		margin-top: 4rem;
	}

	.main-wrap{
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.index-title-n-icon{
		&+.index-description{
			margin-left: 0;
			&+.btn{
				margin-left: 0;
			}
		}
	}

	.index-types{
		width: 100%;
		max-width: none;
	}

	.index-image .img{
		max-height: 35rem;
		height: auto;
		width: auto;
	}

	.main-wrap, .main-wrap-reverse {
		.index-image{
			justify-content: center;
			min-width: 100vw;
		}
	}

	.socn-label{
		.soc-identify{
			width: 5rem;
			.soc-name{
				display: none;
			}
		}
		.input{
			width: calc(100% - 6rem);
		}
	}

	.clear-image{
		width: 40%;
	}

	.clear-title{
		font-size: 2.4rem;
	}
	
}