@media(max-width: 480px){
	.top-menu{
		left: 3rem;
		right: 8rem;
	}
	.mob-page-title .text{
		max-width: 85%;
	}

	.center-column{
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	.search-block{
		margin-top: 2rem;
		.block-type{
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
	}

	.pages-slider{
		margin-left: 0;
		margin-right: 0;
		.slick-list{
			margin-right: 0;
			margin-left: -1.5rem;
		}
	}

	.pages-controls{
		display: none;
	}

	.main-search{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 3rem;
	}

	.search-form{
		position: relative;
		.btn-transparent{
			position: absolute;
			left: 1.6rem;
			top: 1.2rem;
		}
	}

	.btn-settings{
		width: 5rem;
		height: 5rem;
		right: 1rem;
		margin-top: -5rem;
		.icon{
			width: 1.6rem;
			height: 1.6rem;
		}
	}

	.edit-pen svg{
		fill: #707070!important;
	}

	.panel-header-inner{
		.panel-logo{
			width: 3.3rem;
			height: 3.3rem;
			.icon{
				width: 2.4rem;
				height: 2.4rem;
			}
		}
		.panel-info{
			width: calc(100% - 5rem);
		}
	}

	.panel{
		padding-left: 0;
		padding-right: 0;
	}


	.panel-image{
		border-radius: 0;
	}

	.panel-header .mark{
		width: 2rem;
		height: 2rem;
		.icon{
			width: 1.8rem;
			height: 1.8rem;
		}
	}

	.panel{
		border-radius: 0;
		.panel-header,
		.panel-title,
		.panel-footer{
			margin-left: 1.6rem;
			margin-right: 1.6rem;
		}
	}

	.center-column {
		.panel-main-lg{
			border-radius: 0;
			padding-top: 1.6rem;
			padding-right: 1.6rem;
			padding-left: 1.6rem;
			.item-image{
				width: 4.3rem;
				height: 4.3rem;
				.icon{
					width: 3rem;
					height: 3rem;
				}
			}
			.item-info{
				margin-left: 1.4rem;
			}
			.item-title{
				margin-top: .5rem;
				font-size: 1.6rem;
			}
		}
	}

	.panel-main-lg{
		.panel-main-buttons{
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
		.panel-footer{
			margin-top: 1.4rem;
		}
	}

	.marked{
		.panel-main-buttons .btn-mark{
			.icon{
				stroke: $mainColor;
			}
		}
	}

	.panel-main-buttons {
		.btn-mark{
			margin-left: .5rem;
			border: none;
			background-color: transparent;
			.icon{
				stroke: #000;
			}
		}
	}

	.page-main-panel{
		.item-main{
			.item-info{
				margin-left: 1.4rem;
			}
		}
		.panel-main-buttons{
			.btn-main-panel{
				&.btn-message, &.btn-share, &.btn-tuning{
					.icon{
						fill: #707070;
					}
				}
				margin-left: .5rem;
				border: none;
				background-color: transparent;
				box-shadow: none;
				.icon{
					stroke: #000;
				}
			}
		}
	}

	.question-panel-author{
		padding-left: 0;
		padding-right: 0;
		padding-top: 1.5rem;
	}

	.question-title{
		font-size: 1.6rem;
	}

	.author-name{
		font-size: 1.2rem;
	}

	.double-column .panel-main-lg{
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		margin-left: 0;
		margin-right: 0;
		.item-image{
			width: 4.5rem;
			height: 4.5rem;
		}
		.item-info{
			width: calc(100% - 6rem);
		}
	}

	.page-main-panel{
		margin-bottom: 0;
		box-shadow: none;
		border-radius: 0;
		.panel-main-buttons{
			.btn-main-panel {
				padding: .5rem;
				.icon{
					width: 1.6rem;
					height: 1.6rem;
				}
			}
		} 
	}

	.user-grid{
		.right-column{
			margin: 0;
			.siblings-block{
				border-radius: 0;
				margin-bottom: 0;
				padding: 1.6rem;
				border-left: none;
				border-right: none;
				border-bottom: none;
				.block-title{
					font-size: 1.4rem;
					margin: .5rem 0;
				}
			}
		}
		.center-column{
			margin: 0;
		}
	}

	.sibling-item {
		margin: 1rem 0;
		.sibling-image{
			width: 3rem;
			height: 3rem;
			margin-right: 1.5rem;
			.icon{
				width: 1.6rem;
				height: 1.6rem;
			}
		}
	}

	.info-source{
		border-radius: 0;
		padding: 1.5rem;
		border-left: none;
		border-right: none;
		.info-list{
			margin: 1.5rem 0;
			.info-list-item{
				margin: .5rem 0;
			}
			.info-text, .info-link{
				font-size: 1.2rem;
			}
		}
	}

	.more{
		padding: 1.5rem 0 2rem;
	}

	.wall{
		box-shadow: none;
		background-color: transparent;
		border: none;
		border-radius: 0;
	}

	.wall-header{
		padding: 0 1rem;
		border-bottom: none;
	}

	.wall-all{
		border-bottom: none;
	}

	.wall-inner{
		padding: 0;
		.panel{
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
		}
	}

	.wall-categories-list{
		margin: 0;
	}

	.account-block{
		border-radius: 0;
	}

	.grid-mob-column{
		.right-column, .center-column{
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}

	.message-posts{
		border-radius: 0;
	}

	.message-footer{
		flex-wrap: wrap;
		justify-content: center;
		.add-files-block{
			width: 100%;
		}
	}

	.message-button-send{
		.saved-text{
			display: none;
		}
	}

	.message-button{
		.submit{
			margin: 2rem auto;
		}
	}

	.communication-body{
		padding: 0;
	}

	.communication-block{
		.block{
			border-radius: 0;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
	}

	.communication-type,
	.communication-message,
	.question-header{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.communication-text{
		margin-right: 0;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.communication-documents{
		margin: 0;
	}

	.communication-footer.message-footer{
		margin: 2rem 1.5rem 2rem;
	}

	.simple-footer{
		.message-button {
			.saved-text{
				display: none;
				font-size: 0;
			}
		}
	}

	.not-solved-comment{
		.comment-buttons{
			margin: 2rem 0;
			display: block;
			.btn-cancel{
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}
		.message-button .submit{
			margin: 0 auto;
			.saved-text{
				display: none;
			}
		}
	}

	.selection-grid{
		.selection-settings{
			margin-left: 0;
			margin-right: 0;
			.selection-menu{
				border-radius: 0;
				border-left: none;
				border-right: none;
			}
		}
	}

	.support-main-block{
		margin-left: 0;
		margin-right: 0;
	}

	.support-search{
		border-radius: 0;
		border-left: none;
		border-right: none;
		padding: 1.5rem 1.5rem 1.5rem 3rem;
	}

	.support-theme-title{
		justify-content: flex-start;
		padding: 2rem 1.5rem;
		.theme-title{
			font-size: 1.6rem;
		}
	}

	.support-theme-questions{
		margin: 2.5rem 0 3.5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.questions-theme-body{
		padding: 4rem 2rem;
	}

	.accordion-header .accordion-title__text{
		margin-left: 0;
	}

	.question-accordeon .accordion-inner p{
		margin-left: 0;
		margin-right: 0;
	}

	.authors-amount{
		width: 90%;
	}

	.post-modal{
		.modal-inner{
			.center-column{
				width: 100%;				
			}
			.right-column{
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				.more-posts{
					border-radius: 0;
					border-left: none;
					border-right: none;
					border-bottom: none;
				}
			}
		}
	}

	.post-center{
		border-radius: 0;
		padding: 1.5rem;
		margin-bottom: 2rem;
	}

	.post-header{
		padding-left: 1.5rem;
		.post-date{
			font-size: 1.2rem;
		}
		.post-type-info{
    		width: calc(100% - 6rem);
		}
		.post-type-icon{
			width: 3.4rem;
			height: 3.4rem;
			.icon{
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}
		

	.post-type-info .post-title{
		font-size: 1.4rem;
		line-height: 1.6rem;
	}

	.post-main{
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.post-article{
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}

	.post-title{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		font-size: 2rem;
		line-height: 2.2rem;
	}

	.post-contacts {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		.contact-info {
			margin-top: 1rem;
			margin-bottom: 1rem;
			.contact-icon{
				width: 2.2rem;
				height: 2.2rem;
				.icon{
					width: 2rem;
					height: 2rem;
				}
			}
			.contact-content{
				margin-left: 1rem;
				.contact-main{
					font-size: 1.4rem;
				}
			}
		}
	}

	.post-button{
		.btn-with-icon{
			max-width: 25rem;
			display: block;
			margin: auto;
			text-align: center;
		}
	}

	.post-footer{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		.post-storage{
			justify-content: center;
			border-bottom: 1px solid #EEF1F4;
			.btn-transparent {
				.icon{
					width: 2rem;
					height: 2rem;
				}
				.text{
					font-size: 1.4rem;
				}
			}
		}
		.post-authors{
			border-left: none;
			.authors-logo{
				width: 3rem;
				height: 3rem;
				.icon{
					width: 2.2rem;
					height: 2.2rem;
				}
			}
			.author-name{
				.name{			
					font-size: 1.4rem;
				}
				.desc{
					font-size: 1.2rem;
				}
			}
		}
	}

	.more-posts-header-title{
		font-size: 1.4rem;
	}

	.more-post-title{
		font-size: 1.2rem;
		line-height: 1.6rem;
	}

	.more-post-item.slick-slide{
		margin-top: .5rem;
		margin-bottom: .5rem;
	}

	.post-modal .btn-close{
		width: 3rem;
		height: 3rem;
		padding: 0;
		top: 2.5rem;
		.icon{
			width: 2.8rem;
			height: 2.8rem;
		}
	}

	.sign-form-subtitle{
		span, a{
			font-size: 1.2rem;
		}
	}

	.sign-form{
		padding-left: 0;
		padding-right: 0;
		margin-top: 2rem;
	}

	.sign-form-remember{
		.checkbox {
			.checkbox-text{
				font-size: 1.2rem;
			}
			.checkbox-style{
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}

	.sign-social-title{
		margin-bottom: 1.5rem;
	}

	.notification{
		max-width: 30rem;
		right: 1rem;
	}

	.main-panels{
		.main-wrap{
			padding-left: 0;
			padding-right: 0;
		}
	}

	.modal-search{
		.modal-inner{
			width: 95%;
			padding: 7rem 2rem;
		}
	}

	.main-svg-block {
		bottom: -10%;
		width: 80vw!important;
		height: 80vw!important;
		.image{
			width: 79.9vw;
		}
	}

	.main-svg-block .in-image{
		width: 80vw!important;
		height: 80vw!important;
	}


	.main-svg{
		width: 80vw!important;
		height: 80vw!important;
	}

	.double{
		position: absolute;
		width: calc(80vw + 5px);
		height: calc(80vw + 5px);
	}
}