@media (max-width: 1440px){
	.logo{
		width: auto;
		padding: 2.2rem 4rem;
		.logo-icon{
			width: 9rem;
			height: 3.2rem;
		}
	}

	.top-notifications, .top-search{
		width: 8rem;
		padding: 2.3rem 2.6rem 2.4rem;
		.icon{
			width: 2.8rem;
			height: 2.8rem;
		}
	}

	.top-menu{
		margin-left: 3rem;
	}

	.top-menu-list{
		justify-content: center;
	}

	.notification-icon .notification-number{
		width: 1.8rem;
		height: 1.8rem;
	}

	.user-short-info {
		.user-image{
			margin-right: 2rem;
		}
		.user-title{
			display: none;
		}
	}

	.user-menu{
		right: 1rem;
	}

	.user-menu-inner{
		&:before, &:after{
			left: auto;
			right: 6rem;
		}
	}

	.center-column{
		width: 55%;
	}

	.panel{
		width: calc(50% - 1rem);
	}

	.panel-image{
		height: 20rem;
	}

	.double-column{
		.panel-main-lg{
			margin-top: 1rem;
		}
		.center-column{
			width: 70%;
		}
	}

	.center-column{
		.panel-main-lg{
			padding: 2rem 3rem 3rem;
			.item-main{
				width: calc(100% - 17rem);
			}
			.item-info{
				margin-left: 2rem;
			}
			.item-title{
				font-size: 2.2rem;
			}
			.btn-mark{
				.text{
					font-size: 1.2rem;
				}
			}
		}
	} 

	.question-panel-main{
		padding: 1rem 3rem 2rem;
	}

	.question-panel-author{
		padding: 2rem 3rem 0;
	}

	.question-title{
		font-size: 2.2rem;
	}

	.block, 
	.shadow-block,
	.btn-block{
		margin-bottom: 2rem;
	}

	.info-source{
		padding-left: 5rem;
		padding-right: 5rem;
	}
	
	.info-article, .info-list{
		margin-top: 2rem;
	}

	.siblings-block{
		padding: 2rem 3rem;
	}

	.btn-block{
		padding: 2.5rem 3rem;
	}

	.wall-inner{
		padding: 4rem 5rem;
	}

	.settings-fields .field .input-label{
		width: 60%;
	}

	.field-group.half-width{
		width: 60%;
	}

	.show-in-profile{
		width: 30%;
		.text{
			font-size: 1.2rem;
		}
		.show-image{
			.icon{
				width: 1.8rem;
				height: 1.8rem;
			}
		}
	}

	.settings-fields{
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.has-notification .input-notification{
		width: calc(40% - 4rem);
		flex-wrap: wrap;
		.text{
			width: calc(100% - 3rem);
		}
	}

	.communication-body{
		padding: 3rem 4rem;
	}

	.support-header{
		padding: 8rem 20rem;
	}

	.support-body{
		padding: 4rem;
	}

	.support-theme{
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	.post-main{
		margin-top: 2rem;
	}

	.sign-form-section-inner{
		padding: 5rem 10rem 5rem;
	}

	.sign-form-title{
		font-size: 2.4rem;
	}

	.sign-form{
		margin-top: 3rem;
		.input-label{
			margin-top: 1rem;
			margin-bottom: 2rem;
			.input-desc{
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		}
	}

	.sign-form-buttons{
		margin-top: 3.5rem;
		margin-bottom: 3rem;
	}

	.sign-social{
		margin: 2rem 0;
	}

	.sign-modal .close-modal{
		right: 10rem;
		top: 5rem;
	}

	.sign-slider{
		margin-top: 8rem;
		margin-bottom: 8rem;
	}

	.sign-slider-item {
		.slider-image .icon{
			width: 30rem;
			height: 32rem;		
		}
		.slider-title{
			margin: 3rem 0;
			font-size: 2rem;
		}
	}

	.footer-row{
		padding-top: 3rem;
		padding-bottom: 6rem;
	}

	.footer-menu-list li a{
		font-size: 1.4rem;
	}

	.index-title{
		font-size: 2.8rem;
	}

	.index-block{
		padding-top: 7rem;
		padding-bottom: 10rem;
	}


	.main-block{
		position: relative;
		padding-top: 15rem;
		padding-bottom: 20rem;
	}

	.index-image{
		min-width: 50vw;
	}

	.main-enumeration .index-title{
		margin-bottom: 5rem;
	}

	.modal-search{
		.modal-inner{
			padding: 5rem 5rem;
		}
		.search-input{
			font-size: 3.6rem;
			padding: 1.5rem 2rem 1.5rem 8rem;
		}
		.btn-search{
			bottom: 1rem;
			.icon{
				width: 5rem;
				height: 5rem;
				fill: #fff;
			}
		}
		.btn-close{
			width: 5rem;
			height: 5rem;
			.icon{
				width: 4rem;
				height: 4rem;
			}
		}
	}
}