@media (max-width: 1440px){
	.logo{
		width: auto;
		padding: 2.2rem 4rem;
		.logo-icon{
			width: 9rem;
			height: 3.2rem;
		}
	}

	.top-notifications, .top-search{
		width: 8rem;
		padding: 2.3rem 2.6rem 2.4rem;
		.icon{
			width: 2.8rem;
			height: 2.8rem;
		}
	}

	.top-menu{
		margin-left: 3rem;
	}

	.top-menu-list{
		justify-content: center;
	}

	.notification-icon .notification-number{
		width: 1.8rem;
		height: 1.8rem;
	}

	.user-short-info {
		.user-image{
			margin-right: 2rem;
		}
		.user-title{
			display: none;
		}
	}

	.user-menu{
		right: 1rem;
	}

	.user-menu-inner{
		&:before, &:after{
			left: auto;
			right: 6rem;
		}
	}

	.center-column{
		width: 55%;
	}

	.panel{
		width: calc(50% - 1rem);
	}

	.panel-image{
		height: 20rem;
	}

	.double-column{
		.panel-main-lg{
			margin-top: 1rem;
		}
		.center-column{
			width: 70%;
		}
	}

	.center-column{
		.panel-main-lg{
			padding: 2rem 3rem 3rem;
			.item-main{
				width: calc(100% - 17rem);
			}
			.item-info{
				margin-left: 2rem;
			}
			.item-title{
				font-size: 2.2rem;
			}
			.btn-mark{
				.text{
					font-size: 1.2rem;
				}
			}
		}
	} 

	.question-panel-main{
		padding: 1rem 3rem 2rem;
	}

	.question-panel-author{
		padding: 2rem 3rem 0;
	}

	.question-title{
		font-size: 2.2rem;
	}

	.block, 
	.shadow-block,
	.btn-block{
		margin-bottom: 2rem;
	}

	.info-source{
		padding-left: 5rem;
		padding-right: 5rem;
	}
	
	.info-article, .info-list{
		margin-top: 2rem;
	}

	.siblings-block{
		padding: 2rem 3rem;
	}

	.btn-block{
		padding: 2.5rem 3rem;
	}

	.wall-inner{
		padding: 4rem 5rem;
	}
}