@media(max-width: 720px){
	.panel{
		width: 100%;
	}

	.simple-footer{
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		.btn-another{
			margin-bottom: 2rem;
			margin-left: 0;
		}
		.btn-raised{
			margin-left: 0;
		}
	}

	.index-block{
		.panels-grid{
			.panel{
				width: 100%;
				margin-left: 0;
				margin-right: 0;	
			}
		}
	}
}