@media (max-width: 1200px){
	.header{
		z-index: 500;
		.menu-icon{
			display: flex!important;
			margin-top: 0;
			margin-bottom: 0;
			.icon{
				margin-right: 0;
				fill: #747474;
			}
		}
		.logo{
			display: none;
		}
		.top-search, .top-notifications{
			border: none;
			padding: 1rem 1.5rem;
			width: 5.4rem;
			.icon{
				fill: #747474;
			}
		}

		.top-notifications{
			margin-right: 2rem;
		}

		.top-user{
			display: none;
		}
		.buttons-enter{
			display: none;
		}
	}

	.main{
		margin-top: 7rem;
	}

	.mob-sidemenu{
		width: 27rem;
		opacity: 0;
		visibility: hidden;
		left: -80%;
		display: block;
		top: 14.8rem;
		position: fixed;
		top: 0;
		background-color: #fff;
		max-width: 85vw;
		min-height: 100vh;
		height: auto;
		overflow: auto;
		max-height: 100vh;
		z-index: 99999;
		transition: all .5s ease-in-out;
		.mob-sidemenu-header{
			background-color: #fff;
			position: fixed;
			width: inherit;
			height: 5rem;
			border-bottom: 1px solid #EEF1F4;
			z-index: 50;
		}
		.mob-sidemenu-inner{
			margin-top: 5rem;
			overflow: auto;
		}
		&.open-menu{
			opacity: 1;
			visibility: visible;
			left: 0;
		}
		.btn-close{
			position: absolute;
			right: 0;
			top: 0;
			.icon{
				fill: #707070;
				width: 3rem;
				height: 3rem;
			}
		}
		.logo{
			position: fixed;
			top: 0;
			display: block;
			border-right: 0;
			padding: 1rem 1.6rem;
			.logo-icon{
				margin: 0;
				height: 3rem;
			}
		}
		.top-user{
			display: block;
			padding: 0;
			border-bottom: 1px solid #EEF1F4;
			max-width: none;
			.user-short-info{
				padding: 2.4rem 1.6rem;
			}
		}
		.user-short-info{
			.user-image{
				width: 5rem;
				height: 5rem;
			}
			.user-title{
				display: block;
				width: calc(100% - 10rem);
			}
			.user-control{
				.icon{
					fill: #707070;
				}
			}
		}
		.user-menu{
			position: relative;
			max-height: 0;
			right: 0;
			transition: all .5s ease-in-out;
		}
		.user-menu-inner{
			top: 0;
		}
		.user-menu-inner-settings{
			background-color: #F8F9FB;
			max-height: 0;
			border: none;
			transition: all .5s ease-in-out;
		}
		.user-menu-list{
			background-color: #F8F9FB;
			padding-left: 5rem;
			padding-right: 5rem;
			margin-left: 0;
			margin-right: 0;
		}
		.user-exit{
			width: 100%;
			padding-left: 1.6rem;
			padding-right: 1.6rem;
			font-size: 1.4rem;
		}
		.user-menu-open{
			.user-menu{
				max-height: 500rem;
			}
			.user-menu-inner{
				&:before, &:after{
					display: none;
				}
			}
			.user-menu-inner-settings{
				max-height: 500rem;
				box-shadow: none;
			}
		}
		.buttons-enter{
			display: block;
			padding-top: 3rem;
			.btn-enter{
				margin-bottom: 2rem;
			}
			.btn-enter, .btn-register{
				width: 100%;
				text-align: center;
			}
		}
		.menu-create{
			display: none;
		}
		.side-menu{
			padding: 1.6rem 0;
			.side-menu__main{
				margin: 0;
				margin-right: 4rem;
			}
		}
		.side-menu__main{
			li{
				a{
					padding-left: 1.6rem;
					.icon{
						margin-right: 1.5rem;
					}
				}
			}
		}
		.side-menu__secondary{
			border-top: 1px solid #EEF1F4;
			margin: 0;
			padding: 1.6rem;
			display: block;
			li{
				a{
					margin-top: .5rem;
					margin-bottom: .5rem;
				}
			}
		}
	}

	.mob-menu-create{
		display: block;
		.menu-create{
			position: fixed;	
			top: inherit;
			bottom: 1rem;
			left: 1rem;
			z-index: 20;
			width: 13.6rem;
			height: 4.9rem;
			margin-left: 0;
			transition: all .4s ease-in-out;
			display: flex;
			align-items: center;
			.btn-create__menu{
				text-align: center;
			}
			.icon{
				text-align: center;
				margin: auto;
			}
			.create-text {
				margin-left: 1rem;
				transition: all .4s ease-in-out;
			}
			.menu-create-inner{
				transition: all 0s ease-in-out;
			}
		}
		&.sm-create{
			padding: 0;	
			.btn-create__menu{
				padding-left: .5rem;
				padding-right: .5rem;
				.create-text{
					opacity: 0;
					visibility: hidden;
					font-size: 0;
					margin: 0;
				}
			}
			.menu-create{
				width: 4.9rem;
				height: 4.9rem;	
			}

			.menu-create-inner{
				width: 0;
			}
		}
	}

	.mob-menu-create, .sm-create{
		padding: 0;	
		.menu-create.menu-create-open{
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 500;
			min-height: 100vh;
			height: auto;
			width: 100%;
			display: block;
			border-radius: 0;
			position: fixed;
			transition: none;
			.btn-close{
				display: block;
				position: absolute;
				top: 1.2rem;
				right: 1.5rem;
				width: 2.2rem;
				height: 2.2rem;
				padding: 0;
				.icon{
					width: 2.2rem;
					height: 2.2rem;
				}
			}
			.btn-create__menu{
				padding: 1.5rem 2.2rem;
				.icon{
					margin: 0;
					fill: #707070;
				}
				.create-text{
					color: #000;
					opacity: 1;
					visibility: visible;
					margin-left: 1rem;
					font-size: 1.4rem;
				}
			}
			.menu-create-inner{
				
				transition: all .4s ease-in-out;
			}
		}
	}

	.top-menu{
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		z-index: 100;
	}
	.top-menu-list{
		li {
			a{
				font-size: 1.4rem;
			}
		}
	} 

	.user-menu-inner{
		&:before, &:after{
			left: auto;
			right: 6rem;
		}
	}

	.left-column{
		display: none;
	}

	.center-column{
		margin-left: 2rem;
		width: 65%;
	}

	.right-column{
		width: 35%;
	}

	.double-column{
		.panel-main-lg{
			margin-top: 0;
			margin-left: 2rem;
			padding: 3rem 5rem 4rem;
		}
	}

	.btn-block{
		padding: 2.5rem 3rem;
	}

	.wall-header{
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.wall-inner{
		padding: 3rem;
	}

	.sibling-item .sibling-image{
		width: 4rem;
		height: 4rem;
		.icon{
			width: 2.5rem;
			height: 2.5rem;
		}
	}
	
	.support-main-block{
		margin-left: 2rem;
	}

	.footer-copyright{
		padding-top: 2rem;
		padding-bottom: 2rem;
		.wrap{
			flex-direction: column-reverse;
		}
		.copyright{
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}

	.main-block{
		.index-main-image{
			bottom: -5%;
		}
	}

}