.field-two-column{
	display: flex;
	.field-inner{
		width: 50%;
		.field-group, .field-group .select{
			width: 100%;
		}
	}
}

.field-two-column {
	.field-inner{
		&:nth-child(2){
			.select{
				margin-right: 0;
			}
		}
	}
}

.message-fields{
	padding-top: 8rem;
	padding-bottom: 8rem;
}


.message-footer{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.add-files-block{
	display: flex;
}

.add-file{
	cursor: pointer;
	input[type="file"]{
		display: none;
	}
}

.btn-add-file{
	display: flex;
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50%;
	border: none;
	background-color: #EEF1F4;
	display: flex;
	justify-content: center;
	align-items: center;
	.icon{
		width: 2.5rem;
		height: 2.5rem;
	}
}

.files-list{
	display: flex;
	flex-wrap: wrap;
}

.loaded-file{
	margin-left: 1.5rem;
	margin-bottom: 1.5rem;
	padding: .3rem;
	border: 1px solid #D1D9E3;
	border-radius: 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 14rem;
	.loaded-icon{
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon{
			width: 2rem;
			height: 2rem;
		}
	}
	.loaded-text{
		font-size: 1.2rem;
		font-weight: 600;
		margin: .7rem;
		width: calc(100% - 6.4rem);
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.btn-delete{
		width: 1.5rem;
		height: 1.5rem;
		margin-right: .5rem;
		.icon{
			width: 1.4rem;
			height: 1.4rem;
		}
	}
}

.message-button{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.consult-person{
	.sibling-item{
		padding: 2.3rem 3.4rem 1.5rem;
		margin: 0;
	}
	.btn-block{
		border: none;
		border-top: 1px solid #EEF1F4;
		border-radius: none;
	}
}

.message-posts{
	padding: 5.4rem 3rem;
	position: sticky;
	top: 0;
	max-height: 100vh;
	overflow-y: auto;
	.more-post-item{
		padding: 1.6rem 4rem 1.6rem 1.2rem;
		border: 1px solid #EEF1F4;
		border-radius: 5px;
		margin-bottom: 1rem;
	}
}

.communication-block{
	.account-header{
		border-bottom: none;
	}
	.block-answer{
		padding: 3rem 0;
	}
}

.communication-body{
	padding: 4rem 7.4rem;
}

.communication-type{
	color: #AEAEAE;
	font-weight: 600;
	font-size: 1.4rem;
}

.question-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 3rem;
	border-bottom: 1px solid #EEF1F4;
	.question-title{
		margin: .3rem 0;
		font-size: 1.4rem;
		font-weight: 500;
	}
}

.btn-manage{
	background-color: transparent;
	border: none;
	width: 2.8rem;
	height: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	.icon{
		width: 2.8rem;
		height: 2.8rem;
		fill: $iconColor;
	}
}

.communication-message{
	padding: 1.6rem 3rem;
}

.communication-person{
	display: flex;
	align-items: center;
	.person-icon{
		margin-right: 2rem;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon{
			width: 1.6rem;
			height: 1.6rem;
		}
	}
	.person-name{
		font-size: 1.4rem;
		font-weight: 600;
		color: $textGreyColor;
	}
}

.communication-text{
	margin: 3rem 9rem 3rem 4.5rem;
	p{
		font-size: 1.4rem;
		line-height: 2rem;
	}
}

.communication-documents{
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 0 2rem 3rem;
	.loaded-file{
		justify-content: flex-start;
		.loaded-text{
			width: calc(100% - 3.4rem);
		}
	}
}

.communication-footer{
	margin: 3rem 7.4rem 10rem;
	display: block;
}

.simple-footer{
	width: 	100%;
	display: flex;
	justify-content: flex-end;
	.btn, .btn-raised{
		margin-left: 1rem;
	}
	.question-solved{
		justify-content: center;
		width: 100%;
	}
	.saved-text{
		white-space: nowrap;
	}
}

.not-solved-footer {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	.add-comment-text{
		margin-right: 2rem;
		font-size: 1.4rem;
		font-weight: 500;
		.add-comment{
			padding: 0;
			border: none;
			background-color: transparent;
			display: inline-block;
			color: #00418F;
			text-decoration: underline;
		}
	}
}

.comment-buttons{
	display: flex;
	.btn-cancel{
		margin-right: 1rem;
	}
}
