.notification{
	position: fixed;
	width: 32rem;
	bottom: 2rem;
	right: 2rem;
	z-index: 99999;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #EEF1F4;
	opacity: 0;
	visibility: hidden;
	transform: translateX(10%);
	transition: all .5s ease-in-out;
	.btn-close{
		position: absolute;
		right: 0;
		top: 0;
		.icon{
			width: 2.5rem;
			height: 2.5rem;
		}
	}
}

.open-notification{
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.notification-header{
	padding: 1.5rem 4rem 1.5rem 2rem;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #EEF1F4;
	.notification-title{
		font-size: 1.8rem;
		font-weight: 500;
		color: #707070;
		margin: 0 1rem;
		width: calc(100% - 4rem);
	}
}

.notification-icon{
	.icon{
		width: 2rem;
		height: 2rem;
		display: none;
	}
	.info-icon{
		fill: $blue;
	}
	.success-icon{
		fill: $mainColor;
	}
	.error-icon{
		fill: $coral;
	}
}

.notification.error{
	.error-icon{
		display: block;
	}
}

.notification.success{
	.success-icon{
		display: block;
	}
}

.notification.info{
	.info-icon{
		display: block;
	}
}

.notification-content{
	margin: 2rem;
	font-size: 1.4rem;
	line-height: 1.8rem;
}