.post-page{
	.post-modal{
		z-index: 1;
		position: relative;
		opacity: 1;
		visibility: visible;
		left: 0;
		overflow: visible;
		background-color: transparent;
		.close-modal{
			display: none;
		}
		.modal-inner{
			margin: 0;
		}
	}
}

.post-modal{
	background-color: #fff;
	position: fixed;
	overflow: auto;
	width: 100%;
	height: 100%;
	top: 0;
	left: 100%;
	z-index: 9999; 
	opacity: 0;
	visibility: hidden;
	transition: all .6s ease-in-out;
	.modal-inner{
		display: flex;
		margin: 8rem auto;
		max-width: 122rem;
	}
}

.open-modal{
	left: 0;
	opacity: 1;
	visibility: visible;
}

.post-center{
    background-color: #fff;
    border: 1px solid #EEF1F4;
    border-radius: 10px;
    padding: 3rem 2.7rem;
}

.post-header{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.post-type-icon{
		width: 7.4rem;
		height: 7.4rem;
		border-radius: 50%;
		position: relative;
		margin-right: 3rem;
		overflow: hidden;
		border: 1px solid #EEF1F4;
		.icon{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 5rem;
			height: 5rem;
		}
	}
	.post-type-info{
		width: calc(100% - 11rem);
	}
	.post-title{
		font-size: 2.4rem;
		font-weight: 700;
		color: $textGreyColor;
		margin: .5rem 0;
		display: block;
	}
	.post-date{
		font-size: 1.4rem;
		color: $textGreyColor;
		display: block;
	}
}

.post-main{
	margin: 5rem 0;
}

.post-title{
	font-size: 3rem;
	font-weight: 900;
	color: #3A3A3A;
	line-height: 3.5rem;
	margin: 3rem 0;
}
.panel-tag{
	.tags{
		flex-wrap: wrap;
		.tag{
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
		&:after{
			display: none;
		}
	}
}
.post-article-text{
	font-size: 1.8rem;
	line-height: 1.7;
	margin: 6rem 0;
	h2{
		line-height: 1.4;
	}
	h3, h4{
		line-height: 1.5;
	}
}



.post-portrait{
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	.post-portrait-inner{
		max-width: 100%;
	}
}

.post-footer{
	margin: 3rem 0;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.post-authors{
	border-left: 3px solid #D1D9E3;
	padding-left: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	.post-authors-title{
		font-size: 1.2rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 1.5rem;
	}
	.authors{
		display: flex;
		align-items: center;
		position: relative;
	}
	.authors-logo{
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon{
			width: 2rem;
			height: 2rem;
		}
	}
	.author-name{
		margin-left: 1.8rem;
		margin-right: 1rem;
		color: #000;
		.name{
			font-size: 1.6rem;
			font-weight: 700;
		}
		.desc{
			display: block;
			font-size: 1.4rem;
		}
	}
}

.authors-amount{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	box-shadow: 0 0px 6px rgba(0,0,0,.2);
	padding: 1rem 2rem;
	margin: .5rem 0;
	width: calc(100% + 4rem);
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease-in-out;
	z-index: 5;
}

.show{
	opacity: 1;
	visibility: visible;
}

.btn-down-arrow{
	border: none;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.16);
	border-radius: 50%;
	width: 1.8rem;
	height: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	.icon{
		width: 1rem;
		height: 1rem;
	}
}

.many-authors{
	.authors-logo, .author-name, .authors-open-more{
		cursor: pointer;
	}
	.authors-amount .authors{
		padding: 1rem 0;
	}
}

.post-storage{
	display: flex;
	align-items: center;
	margin: 2rem 0 1rem;
}

.btn-transparent{
	background-color: transparent;
	border: none;
	padding: .5rem 1rem;
	display: flex;
	align-items: center;
	margin: 1rem;
	&.btn-mark{
		.icon{
			fill: transparent;
			stroke: $iconColor;
		}
	}
	.icon{
		width: 2.5rem;
		height: 2.5rem;
		fill: $iconColor;
		margin-right: 1rem;
	}
	.text{
		font-size: 1.6rem;
		font-weight: 700;
		color: $textGreyColor;
	}
}

.post-contacts{
	margin: 4rem 0;
	.contact-info{
		display: flex;
		align-items: center;
		margin: 2rem 0;
		.contact-icon{
			width: 2.5rem;
			height: 2.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			.icon{
				width: 2.3rem;
				height: 2.3rem;
				fill: $iconColor;
			}
		}
		.contact-content{
			margin-left: 2rem;
			.contact-main{
				display: block;
				color: $textGreyColor;
				font-size: 1.6rem;
				font-weight: 600;
				margin-bottom: .3rem;
			}
			a.contact-main{
				color: $blue;
			}
			.contact-desc{
				font-size: 1.2rem;
				font-weight: 500;
				color: #AEAEAE;
			}
		}
	}
}

.post-button{
	margin: 3rem 0;
}

.btn-with-icon{
	@extend .btn;
	display: inline-block;
	.icon{
		fill: $mainColor;
		width: 2rem;
		height: 2rem;
		vertical-align: middle;
	}
	.text {
	    vertical-align: middle;
	    font-size: 1.4rem;
	    font-weight: 700;
	    margin-left: 1rem;
		vertical-align: middle;
	}
}

.more-posts{
	border-radius: 10px;
	padding: 2.5rem 1.8rem;
	border: 1px solid #EEF1F4;
	margin-bottom: 20px;
	background-color: #fff;
}

.more-post-item{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 1.5rem 0;
}

.more-post-item.slick-slide{
	display: flex;
	flex-wrap: wrap;
	margin: 1.5rem 0;
}

.more-posts-header-title{
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0 0 1rem;
}

.more-post-image{
	position: relative;
	width: 12rem;
	height: 8.7rem;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	.img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.icon{
		width: 40px;
		height: 40px;
	}
}

.more-post-info{
	width: calc(100% - 14rem);
}

.more-post-title{
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.6;
	margin: .5rem 0;
	color: #3A3A3A;
}

.more-post-type{
	display: flex;
	align-items: center;
	.type-icon{
		width: 1.9rem;
		height: 1.9rem;
		.icon{
			width: 1.9rem;
			height: 1.9rem;
			fill: $iconColor;
		}
	}
	.type-text{
		margin-left: 1rem;
		color: $iconColor;
		font-size: 1.2rem;
		font-weight: 700;
	}
}

.post-modal{
	.btn-close{
		position: absolute;
		right: 5%;
		top: 3rem;
	}
}

.btn-close{
	background-color: transparent;
	border: none;
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	.icon{
		width: 4.5rem;
		height: 4.5rem;
	}
}