.question-panel{
	padding: 0;
	display: block;
}

.question-panel-main{
	padding: 3rem 7.5rem;
}

.question-title{
	font-size: 2.4rem;
	font-weight: 700;
	color: $blue;
}

.question-panel-author{
	padding: 2.5rem 7.5rem 3.5rem;
	border-top: 1px solid #EEF1F4;
}

.author-image{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	margin-right: 1rem;
	overflow: hidden;
	.icon{
		width: 1.5rem;
		height: 1.5rem;
	}
}

.author-name{
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 700;
	color: $textGreyColor;
	vertical-align: middle;
}

.search-tabs{
	align-items: center;
}

.btn.add-question{
	margin-left: auto;
	height: auto;
}