.user-selection{
	.panel-main-lg{
		&:first-child(){
			margin-top: 0;
		}
	}
}

.panel-main-lg{
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 3px 5px rgba(0,0,0,.12);
	padding: 4rem 7.4rem 6.5rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	.item-main{
		display: flex;
		align-items: flex-start;
		width: calc(100% - 20rem);
	}
	.item-icon, .item-image{
		width: 7.4rem;
		height: 7.4rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border: 1px solid #EEF1F4;
		.icon{
			width: 4rem;
			height: 4rem;
		}
	}
	.item-info{
		margin-left: 3rem;
		width: calc(100%  - 10rem);
	}
	.item-title{
		font-size: 2.4rem;
		font-weight: 700;
		color: $textGreyColor;
		margin: 1.1rem 0;
	}
	.item-desc{
		font-weight: 300;
		font-size: 1.2rem;
		display: block;
	}
	.panel-footer{
		margin-top: 2.8rem;
		.tags{
			position: relative;
			max-width: 23rem;
			overflow: hidden;
			.tag{
				margin-left: 0;
			}
			&:after{
				content: '';
				height: 100%;
				width: 3rem;
			}
		}
		
	}
	.panel-main-buttons{
		margin: 1.6rem 0;
	}
	.btn, .btn-raised, .btn-mark{
		margin-left: 2rem;
	}
	.btn-mark{
		display: flex;
		transition: all .2s ease-in-out;
		.icon{
			width: 1.8rem;
			height: 1.8rem;
			stroke: $mainColor;
			fill: transparent;
			vertical-align: middle;
		}
		.text{
			vertical-align: middle;
			font-size: 1.4rem;
			font-weight: 700;
			margin-left: .5rem;
			line-height: 1.8rem;
			transition: .2s ease-in-out;
		}
		&.added{
			padding: .7em;
			border-radius: 50%;
			.text{
				position: absolute;
				opacity: 0;
				visibility: hidden;
				font-size: 0;
				margin-left: 0;
				transition: opacity .2s ease-in-out, visible .2s .2s;
			}
		}
	}
}

.marked{
	.btn-mark{
		background-color: #CDF9E1;
		.icon{
			fill: $mainColor;
		}
	}
}

.search-tabs{
	margin: 3rem 1rem 4rem;
	display: flex;
}

.search-tab-item{
	background-color: transparent;
	border: none;
	padding: 1rem .3rem 2rem;
	cursor: pointer;
	margin-left: 1rem;
	margin-right: 1rem;
	.text, .number{
		font-size: 1.4rem;
		font-weight: 600;
		margin-right: .5rem;
	}
	.number{
		color: #AEAEAE;
	}
	&.current-item{
		border-bottom: 3px solid $blue;
		.text{
			color: $blue;
		}
	}
}
