.search-block{
	width: 100%;
	margin: 3.4rem 0 1.5rem;
}

.block-type{
	color: #00418F;
	font-size: 1.4rem;
	font-weight: 600;
}



.pages-slider{
	margin: -1rem 0 -1rem -1rem;
	width: 100%;
	max-width: 100%;
	.slick-list{
		padding: 1rem;
	}
}

.page-panel{
	width: 17.8rem;
	height: 23.5rem;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,.12);
	border-radius: 5px;
	margin-right: 1.5rem;
	.page-image{
		width: 100%;
		height: 12.5rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		img{
			max-width: 100%;
		}
		svg, img{
			position: absolute;
			border-radius: 5px 5px 0 0;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
		}
		svg{
			width: 5rem;
			height: 5rem;
		}
	}
	&.class-resources{
		.page-image.no-pictures{
			background-color: #FDF9F3;
			svg{
				fill: #CB8C43;
			}
		}
	}
	&.class-enterprises{
		.page-image.no-pictures{
			background-color: #EBFDF3;
			svg{
				fill: #14D0A7;
			}
		}
	}
	.page-info{
		padding: 1.5rem;
		position: relative;
		height: 11rem;
	}
	.page-title{
		font-weight: 600;
		color: $textGreyColor;
		display: inline-block;
		margin: .2rem 0;
		display: -webkit-box;
		max-height: 3.2rem;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		-webkit-line-clamp: 2;
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
	.page-type{
		font-size: 1.2rem;
		margin-top: .5rem;
		display: block;
		color: $textGreyColor;
	}
	.mark-with-icon{
		position: absolute;
		bottom: 15px;
		padding: 0;
		background-color: transparent;
		outline: none;
		border: none;
		display: block;
		.icon{
			width: 1.6rem;
			height: 1.6rem;
			display: inline-block;
			vertical-align: middle;
			fill: transparent;
			stroke: $greyColor;
			transition: all .3s ease-in-out;
		}
		.text{
			font-size: 1.2rem;
			font-weight: 500;
			margin-left: .5rem;
			vertical-align: middle;
			color: $textGreyColor; 
			display: inline-block;
		}
	}
	&.marked{
		.mark-with-icon{
			.icon{
				fill: $lightBrown;
				stroke: $lightBrown;
			}
		}
	}
}


.pages-content{
	position: relative;
	&:after{
		content: '';
		height: 100%;
		width: 8rem;
		display: block;
		position: absolute;
		right: -3rem;
		top: 0;
		background: #fff;
		background: -moz-linear-gradient(left, transparent 0%, rgba(248,250,252,.6) 30%, rgba(248,250,252,.9) 45%, rgba(248,250,252,1) 50%, rgba(248,250,252,.3) 70%, transparent 100%);
		background: -webkit-linear-gradient(left, transparent 0%, rgba(248,250,252,.6) 30%, rgba(248,250,252,.9) 45%, rgba(248,250,252,1) 50%, rgba(248,250,252,.3) 70%, transparent 100%);
		background: linear-gradient(to right, transparent 0%, rgba(248,250,252,.6) 30%, rgba(248,250,252,.9) 45%, rgba(248,250,252,1) 50%, rgba(248,250,252,.3) 70%, transparent 100%);
	}
}

.pages-controls{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: 2;
}

.slider-control{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: none;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,.12);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .2s ease-in-out;
	.icon{
		width: 1.6rem;
		height: 1.6rem;
	}
	&.prev{
		left: -1rem;
		.icon{
			margin-right: .3rem;
		}
	}
	&.next{
		right: -1rem;
		.icon{
			margin-left: .3rem;
		}
	}
	&.away{
		opacity: 0;
		visibility: hidden;
	}
}

.panels-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filter-settings{
	position: sticky;
	top: 0;
}

.filters-header{
	background-color: #fff;
	border: 1px solid #EEF1F4;
	border-radius: 10px;
	width: 100%;
	padding: 1.9rem 3rem 1.7rem;
	display: flex;
	align-items: center;
	.filters-icon{
		.icon{
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	.filters-title{
		font-size: 1.4rem;
		font-weight: 700;
		color: $textGreyColor;
		margin: 0 2.8rem;
	}
	.filters-close{
		display: none;
	}
}

.filters-panel{
	margin-top: 1.8rem;
	background-color: #fff;
	border: 1px solid #EEF1F4;
	border-radius: 10px;
	padding: 3rem 2.7rem;
	max-height: calc(100vh - 15rem);
	overflow-y: auto;
	.btn{
		margin: 3rem auto 0;
		display: none;
	}
}

.filter-block{
	margin-bottom: 3rem;
	.filter-type{
		font-size: 1.4rem;
		font-weight: 400;
		color: $textGreyColor;
		margin: 0;
		margin-bottom: 2.3rem;
	}
	.filter-list{
		list-style-type: none;
		padding: 0;
		margin: 0;
		li{
			margin: .4rem 0;
			text-decoration: none;
			font-size: 1.4rem;
			font-weight: 500;
			color: #000;
			cursor: pointer;
		}
	}
	.btn-map-list{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 2rem;
		.text{
			font-size: 14px;
			font-weight: 600;
			color: #00418F;
		}
		.icon{
			fill: #D1D9E3;
			width: 20px;
			height: 20px;
		}
	}
}

.modal-filter{
	.modal-title{
		visibility: hidden;
		opacity: 0;
		display: none;
	}
	.modal-close{
		visibility: hidden;
		opacity: 0;
		display: none;
	}
	.modal-inner{
		background-color: #fff;
		width: 100%;
		padding: 0;
	}
	.tag-filter{
		margin: 2rem 0;
		display: flex;
		flex-wrap: wrap;
	}
	.tag{
		display: block;
		.tag-style{
			margin-right: .8rem;
    		margin-bottom: .8rem;
		}
	}
}

@keyframes filterModal{
	0%{
		opacity: 0;
		visibility: hidden;
	}
	
	100%{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes filterAnimation{
	0%{
		opacity: 0;
		visibility: hidden;
	}
	100%{
		opacity: 1;
		visibility: visible;
	}
}

.modal-filter-open {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 9999;
	overflow: auto;
	transition: all .4s ease-in-out;
	.modal-inner{
		width: 80%;
		max-width: 101rem;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		top: 0;
		right: 0;
		left: 0;
		padding: 5rem 7.4rem;
		margin: 100px auto;
		border-radius: 20px;
		transition: padding .4s .4s ease-in-out;
		animation: filterModal .4s .4s ease-in-out forwards;
	}
	.modal-title{
		display: block;
		opacity: 0;
		visibility: hidden;
		font-size: 2rem;
		color: $textGreyColor;
		font-weight: 500;
		margin: 0;
		animation: filterAnimation .4s ease-in-out forwards;
	}
	.modal-close{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		top: 4rem;
		right: 3.4rem;
		display: block;
		background-color: transparent;
		border: none;
		padding: 0;
		width: 4rem;
		height: 4rem;
		animation: filterAnimation .4s .4s ease-in-out forwards;
		.icon{
			width: 3.5rem;
			height: 3.5rem;
			text-align: center;
			vertical-align: middle;
			fill: $textGreyColor;
		}
	}
	.btn-tag-add{
		display: none;
	}
	.tag-block{
		min-height: 15rem;
	}
	.tag-filter{
		opacity: 0;
		visibility: hidden;
		animation: filterAnimation 1s .4s ease-in-out forwards;
		transition: all 0s ease-in-out;
		margin: 6.5rem 0 2rem;
		.tag{
			margin-right: 1.4rem;
			margin-bottom: 2rem;
		}
	}
	.modal-footer-buttons{
		display: flex;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		animation: filterAnimation .6s .4s ease-in-out forwards;
	}
}

.modal-footer-buttons{
	display: none;
	.btn-remove, .btn-raised{
		margin: 20px;
	}
}

.filter-type{
	.tag{
		.tag-style{
			color: #9287F7;
			border-color: #9287F7;
			background-color: #EEEDFB;
		}
	}
	.modal-filter-open{
		.tag{
			.tag-style{
				border-color: #707070;
				background-color: #fff;
				.icon{
					fill: #707070;
				}
				.text{
					color: #707070;
				}
				&:hover{
					border-color: #9287F7;
					background-color: #EEEDFB;
					.icon{
						fill: #9287F7;
					}
					.text{
						color: #9287F7;
					}
				}
			}
			input[type="checkbox"]:checked + .tag-style{
				border-color: #9287F7;
				background-color: #EEEDFB;
				.icon{
					fill: #9287F7;
				}
				.text{
					color: #9287F7;
				}
				&:hover{
					border-color: #9287F7;
					background-color: #9287F7;
					.text{
						color: #fff;
					}
				}
			}
		}
	}
}

.filter-location{
	.tag{
		.tag-style{
			color: #478C5E;
			border-color: #478C5E;
			background-color: #EBFDF0;
		}
	}
	.modal-filter-open{
		.tag{
			.tag-style{
				border-color: #707070;
				background-color: #fff;
				.icon{
					fill: #707070;
				}
				.text{
					color: #707070;
				}
				&:hover{
					border-color: #478C5E;
					background-color: #EBFDF0;
					.icon{
						fill: #478C5E;
					}
					.text{
						color: #478C5E;
					}
				}
			}
			input[type="checkbox"]:checked + .tag-style{
				border-color: #478C5E;
				background-color: #EBFDF0;
				.icon{
					fill: #478C5E;
				}
				.text{
					color: #478C5E;
				}
				&:hover{
					border-color: #478C5E;
					background-color: #478C5E;
					.text{
						color: #fff;
					}
				}
			}
		}
	}
}

.filter-sphere{
	.tag{
		.tag-style{
			color: #B94B8F;
			border-color: #B94B8F;
			background-color: #FCEBFD;
		}
	}
	.modal-filter-open{
		.tag{
			.tag-style{
				border-color: #707070;
				background-color: #fff;
				.icon{
					fill: #707070;
				}
				.text{
					color: #707070;
				}
				&:hover{
					border-color: #B94B8F;
					background-color: #FCEBFD;
					.icon{
						fill: #B94B8F;
					}
					.text{
						color: #B94B8F;
					}
				}
			}
			input[type="checkbox"]:checked + .tag-style{
				border-color: #B94B8F;
				background-color: #FCEBFD;
				.icon{
					fill: #B94B8F;
				}
				.text{
					color: #B94B8F;
				}
				&:hover{
					border-color: #B94B8F;
					background-color: #B94B8F;
					.text{
						color: #fff;
					}
				}
			}
		}
	}
}


.filter-theme{
	.tag{
		.tag-style{
			color: #31B5C9;
			border-color: #31B5C9;
			background-color: #EBFDF9;
		}
	}
	.modal-filter-open{
		.tag{
			.tag-style{
				border-color: #707070;
				background-color: #fff;
				.icon{
					fill: #707070;
				}
				.text{
					color: #707070;
				}
				&:hover{
					border-color: #31B5C9;
					background-color: #EBFDF9;
					.icon{
						fill: #31B5C9;
					}
					.text{
						color: #31B5C9;
					}
				}
			}
			input[type="checkbox"]:checked + .tag-style{
				border-color: #31B5C9;
				background-color: #EBFDF9;
				.icon{
					fill: #31B5C9;
				}
				.text{
					color: #31B5C9;
				}
				&:hover{
					border-color: #31B5C9;
					background-color: #31B5C9;
					.text{
						color: #fff;
					}
				}
			}
		}
	}
}

.last-filter{
	border-top: 1px solid #EEF1F4;
	padding-top: 2.7rem;
	margin-bottom: 1rem;
	.switcher{
		.switcher-text{
			margin-left: 1.4rem;
		}
	}
}

.btn-clean{
	background-color: #F8EDEC;
	border-color: #E38985;
	margin: 2.8rem auto;
	display: block;
	&:hover{
		background-color: #f3d9d6;
	}
	.icon{
		width: 1.8rem;
		height: 1.8rem;
		vertical-align: middle;
		fill: #E38985;
	}
	.text{
		font-size: 1.3rem;
		font-weight: 500;
		vertical-align: middle;
		color: #E38985;
	}
}

.btn-settings{
	background-color: transparent;
	border: none;
	display: none;
	.icon{
		width: 2rem;
		height: 2rem;
	}
}

.modal-search{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.87);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: all .4s ease-in-out;
	.modal-inner{
		padding: 10rem 10rem;
		width: 60%;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.search{
		position: relative;
	}
	.search-input{
		background-color: transparent;
		border: none;
		outline: none;
		border-bottom: 2px solid #fff;
		width: 100%;
		font-size: 5rem;
		font-weight: 700;
		color: #fff;
		padding: 2rem 2rem 2rem 10rem;
		&::placeholder{
			color: #fff;
		}
	}
	.btn-search{
		background-color: transparent;
		border: none;
		position: absolute;
		bottom: 1rem;
		.icon{
			width: 7rem;
			height: 7rem;
			fill: #fff;
		}
	}
	.btn-close{
		position: absolute;
		right: 0;
		top: 0;
		width: 7rem;
		height: 7rem;
		.icon{
			width: 6rem;
			height: 6rem;
			fill: #fff;
		}
	}
}