

.side-menu__main{
	list-style-type: none;
	padding: 0;
	margin-right: 3rem;
	li{
		margin: .4rem 0;
		a{
			display: flex;
			align-items: center;
			padding: .8rem 2.5rem;
			border-radius: 0 50px 50px 0;
			border-left: 3px solid transparent;
			.icon{
				width: 2.5rem;
				height: 2.5rem;
				fill: #707070;
				margin-right: 2.5rem;
			}
			.side-menu__text{
				font-size: 1.4rem;
				color: #707070;
				font-weight: 600;
			}
			&:hover, &.active{
				background-color: #EEF1F4;
				border-left: 3px solid $mainColor;
				.icon{
					fill: $mainColor;
				}
			}
		}
	}
}

.menu-create{
	margin-left: 2.5rem;
	width: 17rem;
	box-shadow: 0 3px 6px rgba(0,0,0,.16);
	border-radius: 27px;
	border: 1px solid #EEF1F4;
	background-color: #fff;
	.btn-close{
		display: none;
	}
	.btn-create__menu{
		border: none;
		border-bottom: 1px solid transparent;
		width: 100%;
		padding: 1.5rem 2.2rem;
		background-color: #fff;
		border-radius: 27px;
		display: flex;
		align-items: center;
		margin: 0;
		.icon{
			width: 1.2rem;
			height: 1.2rem;
		}
		span{
			margin-left: 3rem;
			color: $textGreyColor;
			font-size: 1.4rem;
			font-weight: 600;
		}
		&:hover{
			.icon{
				fill: $mainColor;
			}
			span{
				color: $mainColor;
			}
		}
	}
	.menu-create-inner{
		visibility: hidden;	
		opacity: 0;
		max-height: 0;
		transition: all .4s ease-in-out;
		background-color: #fff;
		border-radius: 0 0 27px 27px;
		.menu-create-list{
			list-style-type: none;
			padding: 1.5rem 1rem 3rem 2.3rem;
			margin: 0;
			li{
				padding: .5rem 0;
				a{
					font-size: 1.4rem;
					font-weight: 500;
					color: $textGreyColor;
					&:hover{
						color: $mainColor;
					}
				}
			}
		}
	}
}

.menu-create-open{
	box-shadow: 0 3px 6px rgba(0,0,0,.16);
	.btn-create__menu{
		border-bottom: 1px solid #EEF1F4;
		border-radius: 27px 27px 0 0;
		.icon{
			fill: $mainColor;
		}
		span{
			color: $mainColor;
		}
	}
	.menu-create-inner{
		max-height: 50rem;
		visibility: visible;	
		opacity: 1;
	}
	
}

.side-menu__secondary{
	list-style-type: none;	
	padding: 0;
	margin: 3rem 2.5rem;
	display: flex;	
	flex-wrap: wrap;
	li{
		margin: .4rem .8rem .4rem 0;
		a{
			color: #B8B8B8;
			font-size: 1.2rem;
			font-weight: 500;
			white-space: nowrap;
			&:hover{
				color: #aaa;
			}
		}
	}
}

