.sign-modal{
	width: 100%;
	height: 100vh;
	overflow: auto;
	position: fixed;
	top: 0;
	left: auto;
	right: -100%;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in-out;
	&.open-modal{
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	.close-modal{
		position: absolute;
		right: 20rem;
		top: 8rem;
	}
}

.sign-modal-inner{
	display: flex;
	justify-content: flex-end;
	min-height: 100%;
}

.sign-slider-section{
	width: 49%;
	background: #bae0a2;
	background: -moz-linear-gradient(135deg, #bae0a2 1%, #14d0a7 100%);
	background: -webkit-linear-gradient(135deg, #bae0a2 1%,#14d0a7 100%);
	background: linear-gradient(135deg, #bae0a2 1%,#14d0a7 100%);
}

.sign-form-section{
	width: 51%;
	background-color: #fff;
	box-shadow: -6px 3px 40px rgba(0,0,0, .1),  -6px 0px 60px rgba(112,112,112,.05);
}

.sign-form-section-inner{
	padding: 12rem 13rem 5rem 13rem;
}

.sign-logo{
	position: absolute;
	padding: 2.5rem 7.3rem 0;
	.icon{
		width: 9.8rem;
		height: 3.8rem;
		fill: #fff;
	}
}

.sign-slider{
	margin: 2rem auto;
	.slick-dots{
		list-style-type: none;
		margin: 4rem auto;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			margin: 0 1.5rem;
			position: relative;
			cursor: pointer;
			button{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #fff;
				border: none;
				border-radius: 50%;
				font-size: 0;
				width: 1rem;
				height: 1rem;
				padding: 0;
			}
			&::after{
				content: '';
				width: 1.4rem;
				height: 1.4rem;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border: 2px solid transparent;
				border-radius: 50%;
				transition: all .5s ease-in-out;
			}
			&.slick-active{
				&:after{
					border-color: #fff;
				}
			}
		}
	}
}

.sign-slider-item{
	.slider-title{
		font-family: $mainFont;
		font-size: 2.4rem;
		font-weight: 700;
		color: #fff;
		text-align: center;
		margin: 9rem auto;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.slider-image{
		width: 70%;
		height: 30%;
		margin: auto;
		.icon{
			display: block;
			margin: auto;
			width: 48rem;
			height: 42rem;
		}
		.img{
			max-height: 30%;
		}
	}
}



.sign-form-title{
	font-family: $mainFont;
	font-size: 3rem;
	font-weight: 900;
	margin: 2rem 0;
}

.sign-form-subtitle{
	span{
		font-size: 1.6rem;
		font-weight: 400;
		color: $textGreyColor;
	}
	a{
		color: $blue;
		font-size: 1.6rem;
		margin-left: .5rem;
	}
}

.sign-form{
	border-bottom: 1px solid #D1D9E3;
	max-width: 39rem;
	margin-top: 5rem;
	.input-label{
		display: block;
		margin: 3.5rem 0;
	}
}

.sign-form-buttons{
	margin-top: 5.5rem;
	margin-bottom: 5rem;
	.btn{
		margin-right: 2rem;
	}
	.btn-go{
		padding-left: 2.7rem;
		padding-right: 2.7rem;
	}
	.btn-enter{
		padding-left: 5.5rem;
		padding-right: 5.5rem;
	}
}

.sign-form-remember{
	margin-top: -1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.pass-forgot{
		color: $textGreyColor;
		font-size: 1.2rem;
		margin-left: auto;
	}
}

.sign-social{
	margin: 4rem 0;
}

.sign-social-link{
	margin-right: 2rem;
}

.sign-social-icon{
	width: 5rem;
	height: 5rem;
	margin: auto;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	.icon{
		width: 2.5rem;
		height: 2.5rem;
	}
}

.sign-social-name{
	color: $textGreyColor;
	font-size: 1.2rem;
	font-weight: 600;
	display: block;
	margin: 1rem 0;
	text-align: center;
}

.sign-social-title{
	font-size: 1.4rem;
	color: $textGreyColor;
	margin: 2.2rem 0;
	display: block;
}

.sign-form{
	.register-next-step{
		display: none;
	}
}