.support-main-block{
	overflow: hidden;
}

.support-header{
	padding: 10rem 21rem;
	background: #bae0a2;
	background: -moz-linear-gradient(left, #bae0a2 0%, #14d0a7 100%);
	background: -webkit-linear-gradient(left, #bae0a2 0%,#14d0a7 100%); 
	background: linear-gradient(to right, #bae0a2 0%,#14d0a7 100%); 
}

.support-title{
	text-align: center;
	font-size: 3rem;
	font-weight: 900;
	color: #fff;
	margin: 1.5rem 0;
}

.support-subtitle{
	display: block;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;
	color: #fff;
}

.support-search{
	margin-top: 6rem;
}

.support-body{
	padding: 7.7rem 10.4rem;
}

.support-body{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.support-theme{
	width: 40%;
	margin: 5rem 5%;
}

.support-theme-title{
	display: flex;
	align-items: center;
	.theme-icon{
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 3rem;
		.icon{
			width: 2.5rem;
			height: 2.5rem;
		}
	}
	.theme-title{
		font-size: 2.4rem;
		font-weight: 700;
		color: $textGreyColor;
	}
}

.support-theme-questions{
	list-style-type: none;
	margin: 0;
	padding-left: 7.5rem;
	li{
		margin: 1rem 0;
		a{

			font-size: 1.4rem;
			text-decoration: none;
			color: $blue;
		}
	}
}

.support-theme-more{
	margin-left: 7.5rem;
	margin-top: 2rem;
}

.questions-theme{
	margin-top: 3rem;
}

.questions-theme-body{
	padding: 5.2rem 10rem 15rem 7.5rem;
}

.question-accordeon{
	border-top: 1px solid #EEF1F4;
	.accordion-header{
		border-bottom: none;
		&:hover{
			.accordion-title__text{
				color: $mainColor;
			}
		}
	}
	.accordion-title__text{
		font-size: 1.8rem;
		font-weight: 400;
		color: $blue;
	}
	.accordion-inner{
		p{
			margin: 2rem;
		}
	}
	&.accordion-open{
		.accordion-header{
			.accordion-title__text{
				color: $mainColor;
			}
		}
	}
	&:last-child{
		border-bottom: 1px solid #EEF1F4;
	}
}

.section-list{
	list-style-type: none;
	margin: 4rem 0;
	padding-left: 2rem;
	li{
		margin: 2rem 0;
	}
	.section-link{
		display: flex;
		align-items: center;
	}
	.section-icon{
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #EEF1F4;
		margin-right: 1.6rem;
		transition: all .5s ease-in-out;
		.icon{
			width: 1.6rem;
			height: 1.6rem;
			fill: #707070;
			transition: all .5s ease-in-out;
		}
	}
	.section-text{
		font-size: 1.4rem;
		font-weight: 700;
		color: $textGreyColor;
		transition: all .5s ease-in-out;
	}
}

.section-link{
	&.section-current, &:hover{
		.section-icon{
			background-color: #EBFDF3;
			.icon{
				fill: $mainColor;
			}
		}
		.section-text{
			color: $mainColor;
		}
	}
}

.filter-settings{
	.btn-close{
		display: none;
	}
}