@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Black/Raleway-Black.eot');
  src: url('../fonts/Raleway-Black/Raleway-Black.woff2') format('woff2'),
       url('../fonts/Raleway-Black/Raleway-Black.woff') format('woff'),
       url('../fonts/Raleway-Black/Raleway-Black.ttf') format('truetype'),
       url('../fonts/Raleway-Black/Raleway-Black.svg#Raleway-Black') format('svg'),
       url('../fonts/Raleway-Black/Raleway-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.eot');
  src: url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.woff2') format('woff2'),
       url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.woff') format('woff'),
       url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.ttf') format('truetype'),
       url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg'),
       url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold/Raleway-Bold.eot');
  src: url('../fonts/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
       url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
       url('../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype'),
       url('../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.eot');
  src: url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.woff2') format('woff2'),
       url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.woff') format('woff'),
       url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.ttf') format('truetype'),
       url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg'),
       url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot');
  src: url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff') format('woff'),
       url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg'),
       url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot');
  src: url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg'),
       url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.eot');
  src: url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.woff') format('woff'),
       url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg'),
       url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.eot');
  src: url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.woff') format('woff'),
       url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg'),
       url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic/Raleway-Italic.eot');
  src: url('../fonts/Raleway-Italic/Raleway-Italic.woff2') format('woff2'),
       url('../fonts/Raleway-Italic/Raleway-Italic.woff') format('woff'),
       url('../fonts/Raleway-Italic/Raleway-Italic.ttf') format('truetype'),
       url('../fonts/Raleway-Italic/Raleway-Italic.svg#Raleway-Italic') format('svg'),
       url('../fonts/Raleway-Italic/Raleway-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light/Raleway-Light.eot');
  src: url('../fonts/Raleway-Light/Raleway-Light.woff2') format('woff2'),
       url('../fonts/Raleway-Light/Raleway-Light.woff') format('woff'),
       url('../fonts/Raleway-Light/Raleway-Light.ttf') format('truetype'),
       url('../fonts/Raleway-Light/Raleway-Light.svg#Raleway-Light') format('svg'),
       url('../fonts/Raleway-Light/Raleway-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-LightItalic/Raleway-LightItalic.eot');
  src: url('../fonts/Raleway-LightItalic/Raleway-LightItalic.woff2') format('woff2'),
       url('../fonts/Raleway-LightItalic/Raleway-LightItalic.woff') format('woff'),
       url('../fonts/Raleway-LightItalic/Raleway-LightItalic.ttf') format('truetype'),
       url('../fonts/Raleway-LightItalic/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg'),
       url('../fonts/Raleway-LightItalic/Raleway-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium/Raleway-Medium.eot');
  src: url('../fonts/Raleway-Medium/Raleway-Medium.woff2') format('woff2'),
       url('../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'),
       url('../fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype'),
       url('../fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium') format('svg'),
       url('../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.eot');
  src: url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.woff2') format('woff2'),
       url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.woff') format('woff'),
       url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.ttf') format('truetype'),
       url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg'),
       url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
       url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
       url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype'),
       url('../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular') format('svg'),
       url('../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold/Raleway-SemiBold.eot');
  src: url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff2') format('woff2'),
       url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
       url('../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf') format('truetype'),
       url('../fonts/Raleway-SemiBold/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg'),
       url('../fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot');
  src: url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff2') format('woff2'),
       url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff') format('woff'),
       url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.ttf') format('truetype'),
       url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg'),
       url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Thin/Raleway-Thin.eot');
  src: url('../fonts/Raleway-Thin/Raleway-Thin.woff2') format('woff2'),
       url('../fonts/Raleway-Thin/Raleway-Thin.woff') format('woff'),
       url('../fonts/Raleway-Thin/Raleway-Thin.ttf') format('truetype'),
       url('../fonts/Raleway-Thin/Raleway-Thin.svg#Raleway-Thin') format('svg'),
       url('../fonts/Raleway-Thin/Raleway-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.eot');
  src: url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.woff2') format('woff2'),
       url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.woff') format('woff'),
       url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.ttf') format('truetype'),
       url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg'),
       url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: italic;
}

$mainFont: 'Raleway', 'Tahoma', sans-serif;

$mainColor: #14D0A7;
$lightColor: #EBFDF3;

$greyColor: #AEAEAE;

$lightBrown: #CB9E43;

$violet: #9287F7;

$coral: #E38985;

$textGreyColor: #707070;

$blue: #00418F;

$iconColor: #d3dae4;