@import '_varaibles';

*{
	box-sizing: border-box;
}

html, body{
	font-family: $mainFont;
	font-size: 10px;
	background-color: #F8FAFC;
}

::selection {
  background: $mainColor;
  color: #fff;
}

img{
	max-width: 100%;
}

button, a{
	display: inline-block;
	outline: none;
	text-decoration: none;
}

button, 
input[type="reset"], 
input[type="button"]{
	outline: none;
}

button{
	cursor: pointer;
}

p{
	font-size: 1.4rem;
	line-height: 1.7;
}

.shadow{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	background-color: rgba(0,0,0,0);
	transition: background-color .3s .3s ease-in-out, width 0s .6s, height 0s .6s;
	z-index: 600;
}

.body-overflow{
	overflow: hidden;
}

.body-shadow{
	.header{
		.mob-sidemenu{
			z-index: 999;
		}
	}
	.shadow{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.8);	
		transition: background-color .5s ease-in-out;
	}
}

.text-center{
	text-align: center;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear{
	&::after{
		content: '';
		width: 100%;
		clear: both;
		display: block;
	}
}

.display-none{
	display: none!important;
}

.full-width{
	width: 100%;
}

.btn{
	border: 1px solid $mainColor;
	color: $mainColor;
	background-color: $lightColor;
	&:hover{
		background-color: #CDF9E1;
	}
	&:disabled{
		background-color: #FCFCFC;
		border-color: #EBEBEB;
		color: $greyColor;
		cursor: default;
	}
}

.btn, .btn-raised{
	font-size: 1.4rem;
	font-weight: 500;
	padding: .7em 1.57em;
	border-radius: 1.8rem;
	transition: all .4s ease-in-out;
}

.btn-remove{
	background-color: #F8EDEC;
	border-color: #E38985;
	color: #E38985;
	&:hover{
		background-color: #E38985;
		color: #fff;
	}
}

.btn-add{
	background-color: $mainColor;
	border: none;
	border-radius: 50%;
	width: 5.6rem;
	height: 5.6rem;
	box-shadow: 0 2px 2px rgba(20, 208, 167, 0.5);
	transition: all .4s ease-in-out;
	.icon{
		width: 2rem;
		height: 2rem;
		fill: #fff;
	}
	&:hover{
		box-shadow: 0 8px 8px rgba(20, 208, 167, 0.5);
	}
}


.btn-raised{
	border: none;
	color: #fff;
	background-color: $mainColor;
	box-shadow: 0 2px 2px rgba(20, 208, 167, 0.5);
	&:hover{
		background-color: #10B893;
		box-shadow: 0 8px 8px rgba(20, 208, 167, 0.5);
	}
	&:disabled{
		background-color: rgba(153, 153, 153, 0.2);
		color: $greyColor;
		cursor: default;
		box-shadow: none;
	}
}

.checkbox{	
	cursor: pointer;
	input[type="checkbox"]{
		display: none;
	}
	.checkbox-style{
		border-radius: 2px;
		margin-right: .5rem;
		display: inline-block;
		width: 1.8rem;
		height: 1.8rem;
		position: relative;
		vertical-align: middle;
		border: 2px solid $greyColor;
		transition: all .4s ease-in-out;
		.icon{
			visibility: hidden;
			opacity: 0;
			transition: all .4s ease-in-out;
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 1.3rem;
			height: 1.3rem;
			fill: #fff;
			transform: translate(-50%, -50%);
		}
	}
	.checkbox-text{
		font-size: 1.4rem;
		vertical-align: middle;
	}
	input[type="checkbox"]:checked+.checkbox-style{
		background-color: $mainColor;
		border-color: $mainColor;
		.icon{
			visibility: visible;
			opacity: 1;
		}
	}
}

.radio{
	cursor: pointer;
	input[type="radio"]{
		display: none;
	}
	.radio-style{
		display: inline-block;
		vertical-align: middle;
		width: 2rem;
		height: 2rem;
		border-radius: 50%; 
		border: 2px solid $greyColor;
		position: relative;
		transition: all .4s ease-in-out;
		.radio-icon{
			opacity: 0;
			visibility: hidden;
			background-color: $mainColor;
			width: 1.2rem;
			height: 1.2rem;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			transition: all .4s ease-in-out;
		}
	}
	input[type="radio"]:checked+.radio-style{
		border-color: $mainColor;
		.radio-icon{
			opacity: 1;
			visibility: visible;
		}
	}
	.radio-text{
		font-size: 1.4rem;
		vertical-align: middle;
	}
}

.switcher{
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	input[type="checkbox"]{
		display: none;
	}
	.switcher-style{
		display: inline-block;
		position: relative;
		vertical-align: middle;
		width: 3.3rem;
		height: 1.8rem;
		border: 1px solid $greyColor;
		border-radius: 9px;
		background-color: #EEF1F4;
		transition: all .4s ease-in-out;
		.switcher-icon{
			position: absolute;
			width: 1.4rem;
			height: 1.4rem;
			border-radius: 50%;
			left: .2rem;
			top: 50%;
			transform: translateY(-50%);
			background-color: $greyColor;
			transition: all .4s ease-in-out;
		}
	}
	input[type="checkbox"]:checked+.switcher-style{
		background-color: $lightColor;
		border-color: $mainColor;
		.switcher-icon{
			background-color: $mainColor;
			box-shadow: 0 2px 2px rgba(20, 208, 167, 0.5);
			left: calc(100% - 1.6rem);
		}
	}
	.switcher-text{
		flex: 5;
		font-size: 1.4rem;
		vertical-align: middle;
	}
}

.tag{
	cursor: pointer;
	display: inline-block;
	input[type="checkbox"]{
		display: none;
	}
	.tag-style{
		display: none;
		color: #CB9E43;
		border: 1px solid #CB9E43;
		border-radius: 11px;
		padding: .3rem .6rem;
		background-color: #FDF6EB;
		.tag-type, .tag-close{
			display: none;
		}
		.text{
			font-size: 1.1rem;
			overflow: hidden;
			max-width: 12rem;
			text-overflow: ellipsis;
			display: inline-block;
			white-space: nowrap;
			margin-right: .2rem;
			font-weight: 500;
			vertical-align: middle;
		}
		&:after{
			content: '\2716';
		}
	}
	input[type="checkbox"]:checked + .tag-style{
		display: block;
	}
}

.modal-filter-open .tag{
	.tag-style{
		display: inline-block;
		border: 1px solid #D1D9E3;
		border-radius: 1.8rem;
		font-size: 1.7rem;
		padding: .47em 1.2em;
		transition: all 0s ease-in-out;
		font-family: $mainFont;
		background-color: #fff;
		&:after{
			display: none;
		}
		.icon{
			display: inline-block;
			width: 1.2em;
			height: 1.2em;
			fill: #707070;
			vertical-align: middle;
			transition: all .4s ease-in-out;
		}
		.tag-close{
			display: none;
		}
		.text{
			margin-left: 1rem;
			font-size: 1.4rem;
			font-weight: 500;
			vertical-align: middle;
			color: #707070;
			max-width: none;
			transition: all .4s ease-in-out;
		}
		&:hover{
			border-color: $lightBrown;
			.icon{
				fill: $lightBrown;
			}
			.text{
				color: $lightBrown;
			}
		}
	}
	input[type="checkbox"]:checked+.tag-style{
		background-color: #FDF6EB;
		border-color: $lightBrown;
		.icon{
			fill: $lightBrown;
		}
		.text{
			color: $lightBrown;
		}
		&:hover{
			background-color: $lightBrown;
			.icon{
				&.tag-type{
					display: none;
				}
				&.tag-close{
					display: inline-block;
					fill: #fff;
				}
			}
			.text{
				color: #fff;
			}
		}
	}
}

.row-width{
	width: 300px;
}

.accordion{
	width: 100%;
}

.accordion-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	cursor: pointer;
	padding: 1rem 0;
	border-bottom: 1px solid transparent;
	transition: all .4s ease-in-out;
	.accordion-image{
		width: 2.5rem;
		height: 2.5rem;
		background-color: #EEF1F4;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon{
			width: 1.5rem;
			height: 1.5rem;
			fill: #707070;
		}
	}
	.accordion-title{
		display: flex;
		align-items: center;
		width: calc(100% - 2rem);
	}
	.accordion-title__text{
		margin-left: 1.6rem;
		font-size: 1.4rem;
		font-weight: 700;
		color: #707070;
		vertical-align: middle;
		transition: all .4s ease-in-out;
	}
	.accordion-control{
		width: 1.8rem;
		height: 1.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border: 1px solid #EEF1F4;
		border-radius: 50%;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		transition: all .4s ease-in-out;
		.icon{
			display: block;
			width: .8rem;
			height: .8rem;
			transition: all .4s ease-in-out;
			&.minus{
				display: none;
			}
		}
	}
	&:hover{
		.accordion-title__text{
			color: $violet;
		}
		.accordion-control{
			box-shadow: 0 7px 10px rgba(20, 208, 167, 0.2);
			.icon{
				fill: $mainColor;
			}
		}
	}
}

.accordion-inner{
	max-height: 0;
	visibility: hidden;
	opacity: 0;	
	overflow: hidden;
	transition: all .5s ease-in-out;
	ul{
		margin: 1.5rem 4rem;
		list-style-type: none;
		padding: 0;
		li{
			padding: .7rem 0;
			a{
				font-size: 1.4rem;
				color: #3A3A3A;
			}
		}
	}
}


.accordion-open{
	.accordion-header{
		border-bottom: 1px solid $textGreyColor;
		.accordion-image{
			background-color: #F8EDEC;
			.icon{
				fill: $coral;
			}
		}
		.accordion-title__text{
			color: $coral;
		}
	}

	.accordion-control{
		box-shadow: 0 7px 10px rgba(20, 208, 167, 0.2);
		.icon{
			fill: $mainColor;
			&.plus{
				display: none;
			}
			&.minus{
				display: block;
			}
		}
	}
	.accordion-inner{
		visibility: visible;
		opacity: 1;
		max-height: 80vh;
	}
}


.input-desc{
	display: block;
	margin: 2rem 0;
	font-size: 1.4rem;
	color: $textGreyColor;
}

.input, .textarea{
	border: 1px solid #D1D9E3;
	border-radius: 5px;
	background-color: #FCFCFC;
	padding: 1.6rem 2.5rem;
	font-family: $mainFont;
	font-size: 1.4rem;
	font-weight: 500;
	color: #000;
	outline: none;
	width: 100%;
	resize: none;
	caret-color: $mainColor;
	&::placeholder{
		color: #AEAEAE;
	}
	&:focus, &:active{
		border-color: $mainColor;
		&::placeholder{
			color: #D1D9E3;
		}
	}
	&:disabled{
		background-color: #FCFCFC;
		border-color: #D1D9E3;
		color: #D1D9E3;
		pointer-event: none;
		cursor: not-allowed;
		&::placeholder{
			color: #D1D9E3;
		}
	}
}


.valid{
	position: relative;
	.valid-notification{
		position: absolute;
		top: 100%;
		right: 0;
		display: none;
		text-align: right;
		margin: 2.5rem 0;
		color: #E38985;
		font-size: 1.2rem;
	}
}

.valid-true{
	.input, .textarea{
		border-color: $mainColor;
		background-color: $lightColor;
	}
	.valid-notification{
		display: block;
		color: $mainColor;
	}
}

.valid-false{
	.input, .textarea{
		border-color: #E38985;
		background-color: #F8EDEC;
	}
	.valid-notification{
		display: block;
		color: $coral;
	}
}

.select-hidden{
	display: none;
}

.select{
	position: relative;
	cursor: pointer;
	.select-inner{
		background-color: #FCFCFC;
		border-radius: 5px;
		border: 1px solid #D1D9E3;
		padding: 1.6rem 2.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.4rem;
		font-weight: 500;
		&:after{
			content: '';
			display: inline-block;
			font-size: 2rem;
			width: 1rem;
			height: 1rem;
			box-shadow: 0 3px 6px rgba(0,0,0,.12);
			border-radius: 50%;
			padding: .5rem;
			margin-left: 1.5rem;
			background-repeat: no-repeat;
			background-origin: content-box;
			background-image: url('../img/icons/down-arrow.svg');
		}
	}
	.select-list{
		position: absolute;
		top: 100%;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #fff;
		box-shadow: 0 3px 6px rgba(0,0,0,.16);
		border-radius: 5px;
		z-index: 100;
		max-height: 19.2rem;
		overflow-y: auto;
		li{
			padding: 1.6rem 2.5rem;
			font-size: 1.4rem;
			cursor: pointer;
			&:hover{
				background-color: #EEF1F4;
			}
		}
	}
}

.half-width{
	width: 50%;
}

.btn-tag-add{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #D1D9E3;
	background-color: #FCFCFC;
	border-radius: 5px;
	padding: 1.14em 1.8em;
	transition: all .4s ease-in-out;
	.tag-add__name{
		font-size: 1.4rem;
		font-weight: 500;
	}
	&:hover{
		border-color: $mainColor;
		.tag-add__control{
			box-shadow: 0 7px 10px rgba(20, 208, 167, 0.2);
			.icon{
				fill: $mainColor;
			}
		}
	}
}

.tag-add__control{
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid #EEF1F4;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	transition: all .4s ease-in-out;
	.icon{
		width: .8rem;
		height: .8rem;
		transition: all .4s ease-in-out;
	}
}

.panel{
	display: block;
	background-color: #fff;
	border: 1px solid #EEF1F4;
	box-shadow: 0 3px 5px rgba(0,0,0,.12);
	border-radius: 10px;
	padding: 1.8rem 2.4rem 4.5rem;
	max-width: 38.6rem;
	width: 100%;
	transition: all .4s ease-in-out;
	margin-bottom: 2rem;
	&:hover{
		box-shadow: 0 8px 8px rgba(0,0,0,.12);
		.panel-title{
			.panel-title__text{
				color: #00418F;
			}
		}
	}
}

.panel-sb{
	.panel-header-inner{
		.panel-author{
			max-width: calc(100% - 7.4rem);
		}
	}
}

.panel-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.mark, .share{
		width: 2.4rem;
		height: 2.4rem;
		padding: 0;
		border: none;
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon{
			width: 2.2rem;
			height: 2.2rem;
			fill: $textGreyColor;
			transition: all .3s ease-in-out;
		}
	}
	.mark{
		.icon{
			stroke: $textGreyColor;
			fill: transparent;
		}
	}
}

.panel-header-inner{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: calc(100% - 2.4rem);
	.panel-logo{
		width: 5rem;
		height: 5rem;
		border: 1px solid #EEF1F4;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		overflow: hidden;
		.icon{
			width: 3rem;
			height: 3rem;
		}
	}
	.panel-info{
		margin-left: 1rem;
		width: calc(100% - 7rem);
	}
	.sb-mark{
		display: inline-block;
		background-color: $mainColor;
		color: #fff;
		padding: .2rem .8rem;
		border-radius: 12px;
		font-size: 1.2rem;
		vertical-align: middle;
		max-width: 100%;
		margin: 0 .6rem;
	}
	.panel-author{
		color: #707070;
		font-size: 1.4rem;
		font-weight: 700;
		display: inline-block;
		margin: .2rem 0;
		vertical-align: middle;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: calc(100% - 1rem);
		width: auto;
	}
	.panel-date{
		font-size: 1.2rem;
		color: #AEAEAE;
		display: block;
	}
}

.panel-image{
	width: 100%;
	height: 23rem;
	border-radius: 10px;
	margin-top: 2rem;
	position: relative;
	overflow: hidden;
	background-color: #f2f2f2;
	.image, img{
		position: absolute;
		max-width: 100%;
		width: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: auto;
	}
	svg.image{
		width: 8.5rem;
		height: 8.5rem;
	}
	.date-label{
		position: absolute;
		top: 1.2rem;
		right: 1.2rem;
		background-color: #fff;
		border-radius: 5px;
		padding: .7rem 1.2rem;
		z-index: 2;
		.month, .day{
			display: block;
			margin: auto;
			text-align: center;
		}
		.month{
			color: #9287F7;
			font-size: 1.2rem;
			font-weight: 400;
			text-transform: uppercase;
		}
		.day{
			font-size: 2rem;
			font-weight: 500;
			color: #707070;
		}
	}
}

.panel-title{
	display: flex;
	justify-content: space-between;
	.panel-title__text{
		font-size: 1.4rem;
		font-weight: 700;
		color: #707070;
		margin: 1.5rem 0;
		transition: all .4s ease-in-out;
		.sb-mark{
			float: right;
		}
		.tag.single-tag{
			margin-top: 1rem;
		}
	}
	.lang{
		font-size: 1.2rem;
		color: #D1D9E3;
		font-weight: 700;
		text-transform: uppercase;
		margin: 1.5rem 0;
		display: inline-block;
		&:before{
			content: '\2022';
			margin-right: .5rem;
		}
	}
}

.panel-footer{
	margin-top: 2rem;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
	.post-type{
		white-space: nowrap;
		.icon{
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 2rem;
			fill: #D1D9E3;
		}
		.type{
			display: inline-block;
			vertical-align: middle;
			font-size: 1.2rem;
			font-weight: 700;
			color: #D1D9E3;
			margin: 0 .3rem 0 .7rem;
		}
		&:after{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 1px;
			height: 2.2rem;
			margin: 0 .7rem;
			background-color: #D1D9E3;
		}
	}
}

.panel-footer, .panel-tag{
	.tags{
		display: flex;
		.tag{
			white-space: nowrap;
			padding: .4rem 1.1rem;
			border-radius: 11px;
			background-color: #EEEDFB;
			color: #9287F7;
			margin-left: .5rem;
			margin-right: .5rem;
			font-size: 1.2rem;
			font-weight: 500;
			&.geo{
				background-color: #EBFDF0;
				color: #478C5E;
			}
			&.service{
				background-color: #FCEBFD;
				color: #B94B8F; 
			}
			&.topics{
				background-color: #EBFDF9;
				color: #31B5C9; 
			}
		}
		&:after{
			content: '\2022 \2022 \2022';
			position: absolute;
			right: 0;
			font-size: 1.6rem;
			padding: .2rem 1rem .2rem 3rem;
			color: #D1D9E3;
			background: #fff;
			background: -webkit-linear-gradient(left, transparent 0%, rgba(248,250,252,.6) 20%, #fff 100%);
			background: -o-linear-gradient(left, transparent 0%, rgba(248,250,252,.6) 20%, #fff 100%);
			background: linear-gradient(to right, transparent 0%, rgba(248,250,252,.6) 10%, #fff 30%);
		}
	}
}

.panel{
	&.marked{
		.mark{
			.icon{
				stroke: $lightBrown;
				fill: $lightBrown;
			}
		}
	}
}

.main{
	margin: 11rem 0 5rem;
}

.main-grid{
	display: flex;
}

.left-column{
	max-width: 24rem;
	width: 100%;
	margin-right: 14rem;
}

.center-column{
	max-width: 81rem;
	width: 100%;
}

.right-column{
	max-width: 39rem;
	width: 100%;
	margin-left: 3rem;
}

.search-form{
	position: relative;
	.btn-transparent{
		position: absolute;
		left: 3.2rem;
		top: 1.7rem;
		padding: .5rem;
		margin: 0;
		.icon{
			width: 1.6rem;
			height: 1.6rem;
			margin-right: 0;
			fill: #707070;
		}
	}
}

.input-with-icon{
	border: 1px solid #EEF1F4;
	border-radius: 27px;
	box-shadow: 0 3px 6px rgba(0,0,0,.12);
	width: 100%;
	background-color: #fff;
	padding: 2rem 4.5rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	input{
		border: none;
		background-color: transparent;
		font-size: 1.4rem;
		font-weight: 700;
		outline: none;
		width: 100%;
		margin-left: 1.8rem;
		&::placeholder{
			color: #D1D9E3;
		}
	}
}


.slick-slide {
  &:focus, a {
    outline: none;
  }
}

.bg-color{
	background-color: #D1D9E3;
}

.br-color{
	background-color: #D1D9E3;
}

.text-color{
	color: #707070;
}

.svg-fill{
	fill: #707070;	
}

.blue{
	.bg-color, &.bg-color{
		background-color: #EBF0FD;
	}
	.br-color, &.br-color{
		border-color: $blue;
	}
	.text-color{
		color: $blue;
	}
	.svg-fill{
		fill: $blue;
	}
}

.red{
	.bg-color, &.bg-color{
		background-color: #F8EDEC;
	}
	.br-color, &.br-color{
		border-color: $coral;
	}
	.text-color{
		color: $coral;
	}
	.svg-fill{
		fill: $coral;
	}
}

.violet{
	.bg-color, &.bg-color{
		background-color: #ECE0FD;
	}
	.br-color, &.br-color{
		border-color: #6200ee;
	}
	.text-color{
		color: #6200ee;
	}
	.svg-fill{
		fill: #6200ee;
	}
}

.brown{
	.bg-color, &.bg-color{
		background-color: #FDF0E0;
	}
	.br-color, &.br-color{
		border-color: #cb8c43;
	}
	.text-color{
		color: #cb8c43;
	}
	.svg-fill{
		fill: #cb8c43;
	}
}

.green{
	.bg-color, &.bg-color{
		background-color: #EBFDF3;
	}
	.br-color, &.br-color{
		border-color: #14D0A7;
	}
	.text-color{
		color: #14D0A7;
	}
	.svg-fill{
		fill: #14D0A7;
	}
}

.instagram-color{
	.bg-color, &.bg-color{
		background-color: #F0EBFD;
	}
	.br-color, &.br-color{
		border-color: #AD43A1;
	}
	.text-color{
		color: #AD43A1;
	}
	.svg-fill{
		fill: #AD43A1;
	}
}

.facebook-color{
	.bg-color, &.bg-color{
		background-color: #EBF1FD;
	}
	.br-color, &.br-color{
		border-color: #3B5998;
	}
	.text-color{
		color: #3B5998;
	}
	.svg-fill{
		fill: #3B5998;
	}
}

.google-color{
	.bg-color, &.bg-color{
		background-color: #FDEBEB;
	}
	.br-color, &.br-color{
		border-color: #C15744;
	}
	.text-color{
		color: #C15744;
	}
	.svg-fill{
		fill: #C15744;
	}
}

.youtube-color{
	.bg-color, &.bg-color{
		background-color: #ffd6d6;
	}
	.br-color, &.br-color{
		border-color: #FF0000;
	}
	.text-color{
		color: #FF0000;
	}
	.svg-fill{
		fill: #FF0000;
	}
}

.twitter-color{
	.bg-color, &.bg-color{
		background-color: #dae9ff;
	}
	.br-color, &.br-color{
		border-color: #1DA1F2;
	}
	.text-color{
		color: #1DA1F2;
	}
	.svg-fill{
		fill: #1DA1F2;
	}
}


.linkedin-color{
	.bg-color, &.bg-color{
		background-color: #EDF0F3;
	}
	.br-color, &.br-color{
		border-color: #0073B1;
	}
	.text-color{
		color: #0073B1;
	}
	.svg-fill{
		fill: #0073B1;
	}
}

.clear-block{
	margin-top: 5rem;
	margin-bottom: 10rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-align: center;
}

.double-image{
	.clear-image{
		width: 35%;
	}
}

.clear-image{
	width: 50%;
	height: auto;
	margin: auto;
	display: block;
	text-align: center;
}

.clear-title{
	font-size: 3rem;
	font-weight: 900;
	color: $blue;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: .5rem;
}

.clear-subtitle{
	font-size: 1.4rem;
	color: $mainColor;
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 4rem;
	&.grey{
		color: #707070;
	}
}

.clear-text{
	margin-top: 4rem;
	font-size: 1.4rem;
	color: #707070;
	display: block;
	text-align: center;
	margin: auto;
}

.ui-widget{
	font-size: 1.7em;
	font-family: "Raleway", "Tahoma", sans-serif;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active{
	border-color: #D1D9E3;
	background: #fdfdfd;
}

.ui-widget-header{
	background: #fff;
}

.ui-state-active, 
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, 
.ui-button:active,
.ui-button.ui-state-active:hover{
	border-color: #10B893;
	background: #10B893;
	color: #fff;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight{
	border-color: #14D0A7;
    color: #14D0A7;
    background: #EBFDF3;
}

.ui-widget.ui-widget-content,
.ui-widget-header{
	border-color: #D1D9E3;
}


.tag.single-tag{
	white-space: nowrap;
	padding: .4rem 1.1rem;
	border-radius: 11px;
	background-color: #EBFDF9;
	color: #31B5C9;
	margin-left: .5rem;
	margin-right: .5rem;
	font-size: 1.2rem;
	font-weight: 500;
	&.yellow{
		color: #CB9E43;
		background-color: #FDF6EB;
	}
}

.edit-pen svg{
	fill: #707070!important;
	stroke: transparent!important;
}

.btn.remove{
	margin: 3rem auto;
	border-radius: 50%;
	background-color: transparent;
	border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	.icon{
		width: 2rem;
		height: 2rem;
		fill: #E38985;
	}
	.text{
		font-size: 1.4rem;
		line-height: 2rem;
		color: #E38985;
		margin-left: .5rem;
	}
}


.add_bookmark.added{
	.text{
		display: none;
	}
}

.class-enterprises{
	.item-image.inner-svg{
		background-color: #EBFDF3;
		svg{
			fill: #14D0A7;
		}
	}
}

.class-event{
	.panel-image, .panel-image.bg-color{
		background-color: #EBF0FD;
		svg{
			fill: #4285F4;
		}
	}
}

.class-resources{
	.item-image.inner-svg{
		background-color: #FDF9F3;
		svg{
			fill: #CB8C43;
		}
	}
}

.class-knowledge_base{
	.panel-image{
		background-color: #EEEDFB;
		svg{
			fill: #9287F7;
		}
	}
}

.class-news{
	.panel-image{
		background-color: #F8EDEC;
		svg{
			fill: #E38985;
		}
	}
}

.class-opportunities{
	.panel-image{
		background-color: #EBFDF0;
		svg{
			fill: #478C5E;
		}
	}
}

.sibling-image.inner-svg{
	background-color: #EBF0FD;
	svg{
		fill: #00418F;
	}
	&.resources{
		background-color: #FDF9F3;
		svg{
			fill: #CB8C43;
		}
	}
	&.enterprises{
		background-color: #EBFDF3;
		svg{
			fill: #14D0A7;
		}
	}
}

.post-header{
	&.class-user{
		.post-type-icon.inner-svg{
			background-color: #EBF0FD;
			svg{
				fill: #00418F;
			}
		}
	}
	&.class-resources{
		.post-type-icon.inner-svg{
			background-color: #FDF9F3;
			svg{
				fill: #CB8C43;
			}
		}
	}
	&.class-enterprises{
		.post-type-icon.inner-svg{
			background-color: #EBFDF3;
			svg{
				fill: #14D0A7;
			}
		}
	}
}

.more-post-image.inner-svg{
	&.knowledge_base{
		background-color: #EEEDFB;
		svg{
			fill: #9287F7;
		}
	}
	&.resources{
		background-color: #FDF9F3;
		svg{
			fill: #CB8C43;
		}
	}
	&.opportunities{
		background-color: #EBFDF0;
		svg{
			fill: #478C5E;
		}
	}
	&.news{
		background-color: #F8EDEC;
		svg{
			fill: #E38985;
		}
	}
	&.event{
		background-color: #EBF0FD;
		svg{
			fill: #4285F4;
		}
	}
}

.panel-logo.inner-svg {
	&.class-resources{
		background-color: #FDF9F3;
		svg{
			fill: #CB8C43;
		}
	}
	&.class-user{
		background-color: #EBF0FD;
		svg{
			fill: #00418F;
		}
	}
	&.class-enterprises{
		background-color: #EBFDF3;
		svg{
			fill: #14D0A7;
		}
	}
}

@import 'uikit';
@import 'header';
@import 'side_menu';
@import 'search_content';
@import 'search_source';
@import 'search_questions';
@import 'community_page';
@import 'share_window';
@import 'post_modal';
@import 'account_settings';
@import 'message';
@import 'support';
@import 'sign';
@import 'notification';
@import 'index';
@import 'animation';
@import 'media1600';
@import 'media1440';
@import 'media1280';
@import 'media1200';
@import 'media1080';
@import 'media960';
@import 'media820';
@import 'media768';
@import 'media720';
@import 'media640';
@import 'media480';
@import 'media420';