@font-face {
  font-family: 'Raleway-Italic';
  src: url('Raleway-Italic.eot');
  src: url('Raleway-Italic.woff2') format('woff2'),
       url('Raleway-Italic.woff') format('woff'),
       url('Raleway-Italic.ttf') format('truetype'),
       url('Raleway-Italic.svg#Raleway-Italic') format('svg'),
       url('Raleway-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

