#photo .photo-icon, 
.communication-person .person-icon,
.panel-main-lg .item-image,
.field-person .person-logo,
.author-image,
.sibling-item .sibling-image,
.user-short-info .user-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.map-select{
    width: 100%;
    height: 350px;
} 

.map-select{
    margin-bottom: 30px;
}
#wp-content-editor-tools{
    display: none!important;
}

.filter-settings .field-group .select{
    margin-right: 0px;
    width: 100%;
}
.mark.added .icon,
.btn-mark.added .icon,
.mark-with-icon.added .icon {
    stroke: #14D0A7!important;
    fill: #14D0A7!important; 
}
.load{
    display: none;
    height: 45px;
    width: 100%;
    margin: 20px 0px;
    background: url(../img/ajax-loader.gif) no-repeat center;
}
.no-border{
    border: none!important;
}
.map-enterprises{
    margin-top: 20px;
    width: 100%;
    height: 770px;
}
#mceu_58{
    display: none!important;
}

.item-info .sb-mark, 
.panel-title__text .sb-mark {
    display: inline-block;
    background-color: #14D0A7;
    color: #fff;
    padding: .2rem .8rem;
    border-radius: 12px;
    font-size: 1.2rem;
    vertical-align: middle;
    max-width: 100%;
    margin: 0 .6rem;
}