@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url('Raleway-BoldItalic.eot');
  src: url('Raleway-BoldItalic.woff2') format('woff2'),
       url('Raleway-BoldItalic.woff') format('woff'),
       url('Raleway-BoldItalic.ttf') format('truetype'),
       url('Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg'),
       url('Raleway-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

