@font-face {
  font-family: 'Raleway-ThinItalic';
  src: url('Raleway-ThinItalic.eot');
  src: url('Raleway-ThinItalic.woff2') format('woff2'),
       url('Raleway-ThinItalic.woff') format('woff'),
       url('Raleway-ThinItalic.ttf') format('truetype'),
       url('Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg'),
       url('Raleway-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

