@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  src: url('Raleway-ExtraLightItalic.eot');
  src: url('Raleway-ExtraLightItalic.woff2') format('woff2'),
       url('Raleway-ExtraLightItalic.woff') format('woff'),
       url('Raleway-ExtraLightItalic.ttf') format('truetype'),
       url('Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg'),
       url('Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

